{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Клиенты </h1>
                    <div class="inline"> <a href="/admin/client"> + новый клиент </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table clients table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            <th>Телефон (моб)</th>
                            <th>Телефон (моб2)</th>
                            <th>Телефон (доп)</th>
                            <th>Компания <a href="?sortby=company&sort=asc">↓</a></th>
                            <th>Дополнительная информация</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td><a href="/admin/client/{{ client.id }}">{{ client.name }} </a></td>
                                <td>{{ client.phone_mobile }} </td>
                                <td>{{ client.phone_mobile2 }} </td>
                                <td>{{ client.phone_dop }} </td>
                                <td>
                                    {% for company in companies %}
                                        {% if company.id == client.company_id %}  {{ company.name }}  {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{% if client.description|length > 2 %} <span class="show-desc" data-id="{{ client.id }}"> посмотреть </span>
                                        <div class="description description-{{ client.id }}">{% markdown %} {{ client.description }} {% endmarkdown %}</div> {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}