{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Клиент </h1>
                    <div class="inline"> <a href="/admin/clients">все клиенты</a> </div>
                    {% if client.id %}
                    <div class="inline padding-10"> <a href="/admin/orders/client/{{ client.id }}">Заявки этого клиента</a> </div>
                    {% endif %}

                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if client.id %}
                    action="/api/client/{{ client.id }}"
                    {% else %}
                    action="/api/client"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-6">
                    <div class="form">
                            <label>ФИО Клиента </label>
                            <input type="text" class="form-login" name="name" placeholder="ФИО Клиента" value="{{ client.name }}" required>
                            <label>Мобильный телефон </label>
                            <div class="field">
                                <input type="text" class="form-login check-uniq mobile-phone" data-table="clients" name="phone_mobile" placeholder="Номер мобильного телефона" value="{{ client.phone_mobile }}" required>
                            </div>
                            <label>Мобильный телефон 2 </label>
                            <input type="text" class="form-login check-uniq mobile-phone" name="phone_mobile2" placeholder="Номер мобильного телефона" value="{{ client.phone_mobile2 }}">
                            <label>Дополнительный телефон </label>
                            <input type="text" class="form-login" name="phone_dop" placeholder="Номер дополнительного телефона" value="{{ client.phone_dop }}">
                            <label>Email </label>
                            <input type="text" class="form-login mail" name="email" placeholder="Электронная почта" value="{{ client.email }}" />
                            <label>Компания</label>
                            <select name="company_id" class="form-login chosen-select" required aria-required="true" data-placeholder="Выбрать компанию">
                                <option></option>
                                {% for company in companies %}
                                    {% if client.id %}
                                        <option value="{{ company.id }}" {% if client.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>
                                    {% else %}
                                        <option value="{{ company.id }}" {% if company.id == 6 %} selected {% endif %} >{{ company.name }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                            <label> Должность </label>
                            <input type="text" class="form-login" name="job_title" placeholder="Должность" value="{{ client.job_title }}" />
                            <div class="field"> 
                            <label>Ответственный</label> 
                                <input name="responsible" {% if client.responsible == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да 
                                <input name="responsible" {% if client.responsible == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет 
                            </div> 




                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if client.id %}
                                <a class="inline" href="/api/delete/client/{{ client.id }}"><div class="red-button inline">Удалить человека</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 form">
                    <label>Дата рождения</label>
                    <input type="text" class="form-login date" name="birthday" placeholder="Дата рождения" value="{{ client.birthday }}" />
                    <div class="form">
                            <label>Дополнительная информация</label>
                            <textarea name="description" rows="8">{{ client.description }}</textarea>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->





{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}