{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">
                        {% if company.id %}
                            {{ company.name }}
                        {% else %}
                            Компании
                        {% endif %}
                    </h1>
                    <div class="inline">
                        <a href="/admin/company">все компании</a>
                    </div>
                    {% if company.id %}
                        <div class="inline padding-10"> <a href="/admin/orders/company/{{ company.id }}">Заявки этой компании</a> </div>
                        <div class="inline padding-10"> <a href="/admin/company/{{ company.id }}/workers">Сотрудники этой компании</a> </div>
                    {% endif %}
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    id="company-form"
                    class="dropzone"
                    {% if company.id %}
                    action="/api/company/{{ company.id }}"
                    {% else %}
                    action="/api/company"
                    {% endif %}
                    enctype="multipart/form-data"
            >
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form">
                        <label>Организационная форма компании </label>
                        <select name="forma" class="form-login chosen-select" data-placeholder="Выбрать организационную форму">
                            <option value="1" {% if 1 == company.forma %} selected {% endif %} >ООО</option>
                            <option value="2" {% if 2 == company.forma %} selected {% endif %} >ИП</option>
                            <option value="3" {% if 3 == company.forma %} selected {% endif %} >ОАО</option>
                            <option value="4" {% if 4 == company.forma %} selected {% endif %} >ЗАО</option>
                            <option value="5" {% if 5 == company.forma %} selected {% endif %} >Прочее</option>
                        </select>
                        <label>Название компании </label>
                        <input type="text" class="form-login company-name" name="name" placeholder="Название компании" value="{{ company.name }}" required>
                        <label>Телефон компании </label>
                        <input type="text" class="form-login mobile-phone" name="phone_mobile" placeholder="Телефон компании" value="{{ company.phone_mobile }}">
                        <label>Телефон компании (дополнительный) </label>
                        <input type="text" class="form-login" name="phone_dop" placeholder="Дополнительный телефон компании" value="{{ company.phone_dop }}">
                        <label>Email компании </label>
                        <input type="text" class="form-login mail" name="email" placeholder="Email компании" value="{{ company.email }}">
                        <label>Договор</label>
                        <select name="dogovor" class="form-login chosen-select">
                            <option value="net" {% if company.dogovor == 'net' %} selected {% endif %} >Нет</option>
                            <option value="sostavlen" {% if company.dogovor == 'sostavlen' %} selected {% endif %} >Только скан</option>
                            <option value="podpisan" {% if company.dogovor == 'podpisan' %} selected {% endif %} >Подписан</option>
                        </select>
                        <label>Отсрочка</label> 
                        <select name="otsrochka" class="form-login chosen-select"> 
                            <option value="0" {% if company.otsrochka == '0' %} selected {% endif %} >Нет</option> 
                            <option value="1" {% if company.otsrochka == '1' %} selected {% endif %} >Есть</option> 
                        </select> 

                        <button class="blue-button" type="submit">Добавить</button>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form">
                            <label>Дополнительная информация </label>
                            <textarea name="dop_info" class="autosize" rows="8">{{ company.dop_info }}</textarea>
                    </div>
                    <div class="form">
                        <label>Ответственные</label>
                        <p>
                            {% if company.responsibles %} 
                                {% for resp in company.responsibles %} 
                                    {{ resp.name }} - {{ resp.phone_mobile }} {% if loop.last %}.{% else %}<br>{% endif %} 
                                {% endfor %} 
                            {% endif %} 
                        </p>
                    </div>
                    <div class="form">
                        <h4> Сканы договоров</h4>
                        <div class="dz-message needsclick">
                            Перетащите файлы сюда, чтобы загрузить их.<br />
                        </div>
                        <div id="dropzone-previews"></div>
                        <!-- <input type="file" name="pics[]" multiple> -->
                        {% if company.files %}
                            {% for file in company.files %}
                                <div class="open-image"><img width="100" src="/{{ file.url }}" onclick="imageRemodal({{ file.id }})"> <a href="/api/delete/file/{{ file.id }}?back=/admin/company/{{ company.id }}">Удалить</a> </div>
                                <div class="image-remodal success" id="img-{{ file.id }}"><img src="/{{ file.url }}"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

<script type="text/javascript">
        $(document).on('keydown.autocomplete', '.company-name', function(){
            $('#company-alert').remove();
            $('button[type="submit"]').attr('disabled', false);
            $(this).autocomplete({
                serviceUrl: '/api/autocomplete/company',
                noCache: true,
                showNoSuggestionNotice: true,
                deferRequestBy: 100,
                //noSuggestionNotice: "Такой запчасти в базе нет",
                onSelect: function (suggestion) {
                    $('<span id="company-alert" style="color: red;">Это имя уже занято</span>').insertBefore(this);
                    $('button[type="submit"]').attr('disabled', true);
                }        
            });
        });
</script>

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}