{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Компании </h1>
                    <div class="inline"> <a href="/admin/company/add"> + новая компания </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            {# <th>Телефон (моб)</th>
                            <th>Телефон (доп)</th>
                            <th>E-mail</th> #}
                            {#<th>Адрес</th>#}
                            {# <th>Дополнительно</th> #}
                            <th>Статус договора</th> 
                            <th>Отсрочка</th> 
                            <th>Ответственные</th> 
                        </tr>
                        </thead>
                        <tbody>
                        {% for el in company %}
                            <tr>
                                {#<td>{{ lead.id }} </td>#}
                                <td><a href="/admin/company/{{ el.id }}">{{ el.name }} </a></td>
                                {# <td>{{ el.phone_mobile }} </td>
                                <td>{{ el.phone_dop }} </td>
                                <td>{{ el.email }} </td> #}
                                {#<td>{{ el.adress }} </td>#}
                                {# <td>{% if el.dop_info|length > 2 %} <span class="show-desc" data-id="{{ el.id }}">Посмотреть </span>
                                    <div class="description description-{{ el.id }}"> {{ el.dop_info }} </div> {% endif %}
                                </td> #}
                                <td> 
                                    {% if el.dogovor == 'net' %}Нет{% endif %} 
                                    {% if el.dogovor == 'sostavlen' %}Только скан{% endif %} 
                                    {% if el.dogovor == 'podpisan' %}Подписан{% endif %} 
                                </td> 
                                <td> 
                                    {% if el.otsrochka == '0' %} Нет {% endif %}  
                                    {% if el.otsrochka == '1' %} Есть {% endif %}  
                                </td> 
                                <td> 
                                    {% if el.responsibles %} 
                                        {% for resp in el.responsibles %} 
                                            {{ resp.name }}{% if loop.last %}.{% else %}, {% endif %} 
                                        {% endfor %} 
                                    {% endif %} 
                                </td> 
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}