{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Лиды (входящие заявки) </h1>
                    <div class="inline"> <a href="/admin/lead"> + новый лид </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Компания</th>
                            <th>Описание</th>
                            <th>Дата создания</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for lead in leads %}
                            <tr>
                                {#<td>{{ lead.id }} </td>#}
                                <td><a href="/admin/lead/{{ lead.id }}">{{ lead.name }} </a></td>
                                <td>{{ lead.phone }} </td>
                                <td>{{ lead.mail }} </td>
                                <td>{{ lead.company }} </td>
                                <td>{{ lead.created_at|date("Y - m - d") }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}