{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Все проекты </h1>
                    <div class="add-project inline"> + новый задача </div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 project-list">
                        {% for project in projects %}
                            <div id="{{ project.id }}" class="project_card">
                                <div class="name">{{ project.name }}</div>
                                <div class="description">{{ project.description }} </div>
                                <a class="link" href="/project/{{ project.id }}"> </a>
                                {# <a href="/admin/project/{{ project.id }}"> </a> #}
                                <div class="card_footer"> <a>Изменить </a> </div>
                            </div>
                        {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}