{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {#{{ dump() }}#}
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">{{ company.name }} </h1>
                    <div class="inline"> <a href="/admin/company">все компании</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    action="/api/company/{{ id }}/requisites"
            >
            <div class="row">
                <div class="col-md-7 .col-md-offset-1">
                    <div class="form">
                            <select name="type">
                                <option value="ooo" {% if requisites.type == 'ooo' %} selected {% endif %} >Для ООО</option>
                                <option value="ip" {% if requisites.type == 'ip' %} selected {% endif %} >Для ИП </option>
                            </select>
                            <input type="text" class="form-login" name="fullname" placeholder="Полное наименование" value="{{ requisites.fullname }}">
                            <input type="text" class="form-login" name="shortname" placeholder="Краткое наименование" value="{{ requisites.shortname }}">
                            <input type="text" class="form-login" name="v_lice" placeholder="В лице" value="{{ requisites.v_lice }}">
                            <input type="text" class="form-login" name="na_osnovanii" placeholder="Действует на основании" value="{{ requisites.na_osnovanii }}">
                            <input type="text" class="form-login" name="inn" placeholder="ИНН" value="{{ requisites.inn }}">
                            <input type="text" class="form-login" name="kpp" placeholder="КПП" value="{{ requisites.kpp }}">
                            <input type="text" class="form-login" name="adress" placeholder="Юридический адрес" value="{{ requisites.adress }}">
                            <input type="text" class="form-login" name="rass_scet" placeholder="Рассчетный счет" value="{{ requisites.rass_scet }}">
                            <input type="text" class="form-login" name="licev_scet" placeholder="Лицевой счет" value="{{ requisites.licev_scet }}">
                            <input type="text" class="form-login" name="bik" placeholder="БИК" value="{{ requisites.bik }}">
                            <input type="text" class="form-login" name="bank" placeholder="Наименование Банка" value="{{ requisites.bank }}">
                            <button class="blue-button" type="submit">Сохранить</button>

                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->



{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}