{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <style type="text/css">
        ul li {
            list-style: none;
        }

        ul {
            padding-left: 20px;
            padding-bottom: 7px;
        }
    </style>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Роли </h1>
                    <div class="inline"> <a href="/admin/users">все пользователи</a> </div>
                    <hr class="aky">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <table class="table table-striped table-role">
                        <thead>
                            <tr>
                                <th>Роль <a id="add-role" style="float: right;"> + добавить</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in roles %}
                                <tr data-role-id="{{role.id}}" class="role-row">
                                    <td><a class="role-href">{{role.name}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <form id="form-role" action="/api/users/roles/create" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Название</label>
                                <input type="text" class="form-login" name="name" placeholder="Название роли" required>
                            </div>

                            <div class="col-md-6">
                                <label>Псевдоним (англ.)</label>
                                <input type="text" class="form-login" name="slug" placeholder="Псевдоним роли" required>
                            </div>

                            <input type="hidden" name="id">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="blue-button inline">Добавить</button>
                            </div>
                        </div>

                        <div class="row">
                            <h3>Права доступа</h3>
                            <div class="col-md-4">
                                <ul class="permission">
                                    <li>Заявки</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="order_view" value="false">
                                                <input type="checkbox" name="order_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="order_create" value="false">
                                                <input type="checkbox" name="order_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="order_update" value="false">
                                                <input type="checkbox" name="order_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="order_delete" value="false">
                                                <input type="checkbox" name="order_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Клиенты</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="clients_view" value="false">
                                                <input type="checkbox" name="clients_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="clients_create" value="false">
                                                <input type="checkbox" name="clients_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="clients_update" value="false">
                                                <input type="checkbox" name="clients_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="clients_delete" value="false">
                                                <input type="checkbox" name="clients_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Компании</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="company_view" value="false">
                                                <input type="checkbox" name="company_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="company_create" value="false">
                                                <input type="checkbox" name="company_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="company_update" value="false">
                                                <input type="checkbox" name="company_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="company_delete" value="false">
                                                <input type="checkbox" name="company_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Партнеры</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="partners_view" value="false">
                                                <input type="checkbox" name="partners_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="partners_create" value="false">
                                                <input type="checkbox" name="partners_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="partners_update" value="false">
                                                <input type="checkbox" name="partners_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="partners_delete" value="false">
                                                <input type="checkbox" name="partners_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="permission">
                                    <li>Спецтехника</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="transports_view" value="false">
                                                <input type="checkbox" name="transports_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="transports_create" value="false">
                                                <input type="checkbox" name="transports_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="transports_update" value="false">
                                                <input type="checkbox" name="transports_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="transports_delete" value="false">
                                                <input type="checkbox" name="transports_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Подотчеты</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="subreports_view" value="false">
                                                <input type="checkbox" name="subreports_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="subreports_create" value="false">
                                                <input type="checkbox" name="subreports_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="subreports_update" value="false">
                                                <input type="checkbox" name="subreports_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="subreports_delete" value="false">
                                                <input type="checkbox" name="subreports_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Запчасти</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="parts_view" value="false">
                                                <input type="checkbox" name="parts_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="parts_create" value="false">
                                                <input type="checkbox" name="parts_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="parts_update" value="false">
                                                <input type="checkbox" name="parts_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="parts_delete" value="false">
                                                <input type="checkbox" name="parts_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>

                                    <li>Ремонт</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="repairs_view" value="false">
                                                <input type="checkbox" name="repairs_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="repairs_create" value="false">
                                                <input type="checkbox" name="repairs_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="repairs_update" value="false">
                                                <input type="checkbox" name="repairs_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="repairs_delete" value="false">
                                                <input type="checkbox" name="repairs_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="permission">
                                    <li>Движение запчастей</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="movement_view" value="false">
                                                <input type="checkbox" name="movement_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="movement_create" value="false">
                                                <input type="checkbox" name="movement_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="movement_update" value="false">
                                                <input type="checkbox" name="movement_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="movement_delete" value="false">
                                                <input type="checkbox" name="movement_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Водители</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="drivers_view" value="false">
                                                <input type="checkbox" name="drivers_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="drivers_create" value="false">
                                                <input type="checkbox" name="drivers_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="drivers_update" value="false">
                                                <input type="checkbox" name="drivers_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="drivers_delete" value="false">
                                                <input type="checkbox" name="drivers_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Настройки</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="settings_view" value="false">
                                                <input type="checkbox" name="settings_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="settings_create" value="false">
                                                <input type="checkbox" name="settings_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="settings_update" value="false">
                                                <input type="checkbox" name="settings_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="settings_delete" value="false">
                                                <input type="checkbox" name="settings_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                    <li>Пользователи</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="user_view" value="false">
                                                <input type="checkbox" name="user_view" value="true"> Просмотр
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_create" value="false">
                                                <input type="checkbox" name="user_create" value="true"> Создание
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_update" value="false">
                                                <input type="checkbox" name="user_update" value="true"> Обновление
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_delete" value="false">
                                                <input type="checkbox" name="user_delete" value="true"> Удаление
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).on('click', '.role-href', function(){
            var id = $(this).closest('tr.role-row').data('role-id');
            $.ajax({
                url: '/api/users/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function(resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);
                    
                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    if (permissions) {
                        $.each($('.permission input[type="checkbox"]'), function() {
                            var name = $(this).attr('name');
                            
                            if (typeof permissions[name] != undefined && permissions[name]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });                        
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function(resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function() {
            $('#add-role').click(function() {
                $('#form-role')[0].reset();
                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#form-role').find('input[name="id"]').val(null);
            });
        });
    </script>
    <script src="/views/admin/admin.js"></script>
{% endblock %}