{% extends "layout.html.twig" %}

{% block content %}

    {% if not session.user.role.permissions.repairs_update and repair.id %}
        {% set readonly = 'disabled' %}

        <style type="text/css">
            input:disabled, select:disabled, .chosen-single span {
                color: #333333 !important;
            }

            a.chosen-single div {
                display: none !important;
            }

            .chosen-disabled {
                opacity: 1 !important;
            }
        </style>
    {% endif %}


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Проведение ремонта </h1>
                    <div class="inline"> <a href="/admin/repairs">все отчеты</a> </div>
                    <hr class="aky">
                </div>
            </div>

            <form id="repair-form" method="post" onsubmit="submit_form()" action="javascript:void(null)">
                <div class="form">
                    <div class="row">
                        <div class="col-md-8" style="padding: 0px;">

                            <div class="col-md-4 col-xs-4 print-date">
                                <label>Дата <span class="no-print">проведения</span> ремонта </label>
                                <input type="text" class="form-elem form-login datepicker" name="date" required value="{{repair.date|date('d.m.Y')}}" {{readonly}}>
                            </div>

                            <div class="col-md-4 col-xs-4 print-input">
                                <label style="float: left;">Моточасы/пробег</label>
                                <input id="subreport-subsumm" type="text" class="form-elem form-login num-only" name="machine_hours" placeholder="Кол-во (до 6 символов)" value="{{repair.machine_hours}}" maxlength="6" required {{readonly}}>
                            </div>

                            <div class="col-md-4 col-xs-4 print-select">
                                <label>Тип ремонта</label>
                                <select name="repair_type" class="form-elem form-login chosen-select" required {{readonly}}>
                                    <option {% if repair.repair_type == 'Плановое ТО' %}selected{% endif %}>Плановое ТО</option>
                                    <option {% if repair.repair_type == 'Плановый ремонт' %}selected{% endif %}>Плановый ремонт</option>
                                    <option {% if repair.repair_type == 'Внеплановый ремонт' %}selected{% endif %}>Внеплановый ремонт</option>
                                </select>                                
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8" style="padding: 0px;">
                            <div class="col-md-6 print-select">
                                <label>ФИО Сотрудника</label>
                                <select name="drivers_id" class="form-elem form-login chosen-select" required data-placeholder="Выберите сотрудника" {{readonly}}>
                                    <option></option>
                                {% for driver in drivers %}
                                    {% if repair.drivers_id == driver.id %}
                                        <option value="{{driver.id}}" selected>{{driver.name}}</option>
                                    {% else %}
                                        <option value="{{driver.id}}">{{driver.name}}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6 print-select">
                                <label>Техника</label>
                                <select id="chosen-tech" name="transportRepair_id" class="form-elem form-login chosen-select" data-placeholder="Выберите технику" required {{readonly}}>
                                 <option></option>
                                 {% for tr in transport %}
                                    {% if repair.transportRepair_id == tr.id %}
                                        <option value="{{tr.id}}" selected>{{tr.name}}</option>
                                    {% else %}
                                        <option value="{{tr.id}}">{{tr.name}}</option>
                                    {% endif %}
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="subreport-table" class="table clients table-striped" style="margin-top: 25px;">
                            <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Вид проведенного ремонта</th>
                                    <th>Устанавливаемые запчасти <span class="no-print">и расходники</span></th>
                                    <th>Кол-во</th>
                                    
                                    {% if not readonly %}
                                    <th class="opt-th">
                                        <button type="button" class="blue-button inline add-part" style="min-width: 80px;">Добавить</button>
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for index, move in repair.movement %}
                
                                <tr data-movement-id="{{move.id}}"> 
                                    <td class="job-num">{{index+1}}</td>
                                    <td class="job-title">
                                        <input name="repair_job" type="text" class="form-login" placeholder="Введите название работ по ремонту" value="{{move.description}}" required {{readonly}}>
                                    </td>
                                    <td class="job-part">
                                        <select name="parts_id" class="form-login chosen-select" required aria-required="true" data-placeholder="Выберите из списка" {{readonly}}>
                                            <option></option>
                                            {% for part in parts %}
                                                <option value="{{part.id}}" data-count="{{part.count}}"                                           

                                                {% if part.id == move.parts_id %}
                                                    selected
                                                {% endif %}
                                                
                                                {% if part.count <= 0 %}
                                                    style="color: grey;"
                                                {% else %}
                                                    style="font-family: 'Tahoma'; font-weight: bold;"
                                                {% endif %}
                                                
                                                >{{part.title}}
                                                </option>
                                            {% endfor %}

                                        </select>
                                    </td>
                                    <td class="job-part-count">
                                        <input name="count" type="text" class="form-login num-only double" value="{{move.count}}" style="width: 80px !important;" {{readonly}}>
                                    </td>
                                    
                                    {% if not readonly %}
                                        <td class="remove-row"><a class="remove-row-job">Удалить</a></td>
                                    {% endif %}
                                </tr> 

                                {% endfor %}
                            </tbody>
                            {% if not readonly %}
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="opt-th"><button type="button" class="blue-button inline add-part" style="min-width: 80px;">Добавить</button></td>
                                </tr>
                            </tfoot>
                            {% endif %}
                        </table>

                        <div class="row table-mark" style="margin-top: 25px; display: none;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="width: 270px; text-align: right; border: none !important;">
                                            Подпись водителя об выполнении
                                        </td>

                                        <td style="width: calc(100% - 270px); border-left: none !important; border-right: none!important;">
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="border: none !important;">
                                            <div style="height: 0.2cm;"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 270px; text-align: right; border: none !important;">
                                            Подпись механика об выполнении
                                        </td>

                                        <td style="width: calc(100% - 270px); border-left: none !important; border-right: none!important;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <input type="hidden" class="form-elem" name="id" value="{{repair.id}}">

                        {% if repair.id %}
                            <button id="send_and_print" class="blue-button inline" type="button">Печать</button>
                        {% endif %}

                        {% if not readonly %}
                        <button class="blue-button inline" type="submit">Провести и закрыть</button>
                        {% endif %}

                        {% if session.user.role.permissions.repairs_delete and repair.id %}
                            <button class="red-button inline delete-button" type="button">Удалить</button>
                        {% endif %}

                    </div>
                </div>

            </form>
        </div>
    </div>

<!-- /#page-content-wrapper -->

<style type="text/css">
    .part-name {
        padding-right: 18px !important;
    }

    span.new-row {
        position: absolute;
        z-index: 9999;
        right: 12px;
        color: green;
        font-size: 20px;
        cursor: pointer;"
    }
</style>

<script type="text/javascript">
    $(function() {
        $('.delete-button').click(function() {
            var id = $('input[name="id"]').first().val();
            $.ajax({
                url: '/api/repair/delete',
                type: 'POST',
                data: {id: id},
                success: function(resp) {
                    window.location.replace("/admin/repairs");
                },
                error: function(resp) {
                    console.log(resp.responseText);
                }
            });
        });
    });


    $(function() {
        var option = '';

        {% if not readonly %}
        if (!$('#subreport-table>tbody>tr').length) {
            addRow();
            getParts();
        }
            getParts(false);
        {% else %}
            getParts(false);
        {% endif %}
        
        

        $('.add-part').click(function() {
            addRow();
        });

        function addRow() {
            var thisRow = $('#subreport-table tbody tr').last();
            var thisPart = thisRow.children('.job-title').find('input').val();
            if (!thisRow.length || thisPart) {
                $row = '<tr>' + 
                    '<td class="job-num"></td>' +
                    '<td class="job-title">' +
                        '<input name="repair_job" type="text" class="form-login" placeholder="Введите название работ по ремонту" required>' +
                    '</td>' +
                    '<td class="job-part">' +
                        '<select name="parts_id" class="form-login chosen-select" required aria-required="true" data-placeholder="Выберите из списка">' +
                            option +
                        '</select>' +
                    '</td>' +
                    '<td class="job-part-count">' +
                        '<input name="count" type="text" class="form-login num-only double" style="width: 80px !important;" required>' +
                    '</td>' +
                    '<td class="remove-row"><a class="remove-row-job">Удалить</a></td>' +
                '</tr>';
                $('#subreport-table tbody').append($row);
                setNum();
                $("td .chosen-select").chosen({width: "100%", disable_search_threshold: 10});
            }
        }

        // $('#chosen-tech').change(function() {
        //     getParts();
        // });

        function getParts($upd = true) {
            $.ajax({
                url: '/api/parts_for_tech',
                type: 'POST',
                success: function(data) {
                    data = JSON.parse(data);
                    option = '<option></option>';                  

                    var forEach = function(array) {
	                    $.each(array, function(index, value) {
	                        option += '<option value="' + value.id + 
	                        		  '" data-count="' + value.count + '"';
                            
	                        if (value.count <= 0) {
                                option += ' style="color: grey;"';
                            } else {
                                option += ' style="font-family: \'Tahoma\'; font-weight: bold;"';
                            }
	                        option += '>' + value.title + '</option>';
	                    });
                    }

                    forEach(data);


                    if ($upd) {
                        $.each($('.job-part select'), function() {
                            $(this).html(option);
                        });
                        $("td .chosen-select").trigger("chosen:updated");
                        $('table input[name="count"]').val(null);                     
                    }

                },
                error: function(error) {
                    console.log(error);
                }
            });          
        }

        // $(document).on('change', 'select[name="parts_id"]', function(){
        //     $(this).closest('tr').find('input[name="count"]').val(null);

        //     var vm = $(this);
        //     vm.find('option').each(function(i, option) {
        //         if ($(this).attr('value') == vm.val()) {
        //             $(this).css({'font-family': 'Tahoma', 
        //                          'font-weight': 'bold', 
        //                          'font-size': '14px'
        //                      });
        //         } else {
        //             $(this).css({'font-family': 'Sans', 
        //                          'font-weight': 'normal',
        //                          'font-size': '13px'
        //                      });  
        //         }
        //     });

        //     $(this).trigger("chosen:updated");
        // });


        $(document).on('keyup', '.has-max', function(){
            var max = parseFloat($(this).closest('tr').find('.job-part select option:selected').attr('data-count'));
            if (max < 0) {
                max = 0;
            }

            if (max == 0) return;

            var part_id = $(this).closest('tr').find('.job-part select option:selected').val();
            var parts_arr = $(this).closest('tbody').find('tr .job-part select option:selected[value="' + part_id + '"]');
            
            $.each(parts_arr, function() {
	            var num = $(this).closest('tr').find('.job-part-count input[name="count"]');
	            if (num.val() > max) {
	                num.val(max);
	            }
	            max -= num.val();
	            if (max < 0) max = 0;
            });
        });


        function setNum() {
            $.each($('#subreport-table tbody tr'), function(key) {
                $(this).find('.job-num').html(key+1);
            });
        }

        $(document).on('click', '.remove-row-job', function(){
            $(this).closest('tr').remove();
            setNum();
        });


        $('#send_and_print').click(function(){
            window.print();
        });

    });

        function submit_form() {
            var form = {};
            var movement_id = {};
            var table = {};
            var empty = false;

            $.each($('.form-elem'), function() {
                form[$(this).attr('name')] = $(this).val();
            });

            $.each($('#subreport-table tbody tr'), function(index) {
                var row = {};
                movement_id[index] = $(this).data('movement-id');
                row['movement_id'] = $(this).data('movement-id');
                row['repair_job'] = $(this).find('.job-title input[name*="repair_job"]').val();
                row['parts_id'] = $(this).find('.job-part select').val();
                row['count'] = $(this).find('.job-part-count input[name*="count"]').val();
                
                if (row['count'] <= 0) {
                	alert('Укажите корректное количество запчастей в строке №' + (index+1) + ' (минимальное количество = 1)');
                	empty = true;
                	return false;
                }
                table[index] = row;
            });

            if (empty) return false;

            {% if repair.id %}
            	{% set url = '/api/repair/update' %}
            {% else %}
            	{% set url = '/api/repair/create' %}
            {% endif %}

            $.ajax({
                url: '{{url}}',
                type: 'POST',
                data: {form: form, table: table, movement_id: movement_id},
                success: function(resp) {
                    window.location.replace("/admin/repairs");
                },
                error: function(resp) {
                    console.log(resp.responseText);
                    alert(resp.responseText);
                }
            });
        }

</script>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}