{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Отчеты о ремонте </h1>
                    <div class="inline"> <a href="/admin/repair/add"> + новый ремонт </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Техника</th>
                            <th>Моточасы</th>
                            <th>Тип ремонта</th>
                            <th>Сотрудник</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repair in repairs %}
                            <tr class="">
                                <td><a href="/admin/repair/add/{{repair.id}}"> {{ repair.date|date("d/m/Y") }}</a></td>
                                <td><a href="/admin/repair/add/{{repair.id}}">{{ repair.transport.name }}</a></td>
                                <td><a href="/admin/repair/add/{{repair.id}}">{{ repair.machine_hours }}</a></td>
                                <td><a href="/admin/repair/add/{{repair.id}}">{{ repair.repair_type }}</a></td>
                                <td><a href="/admin/repair/add/{{repair.id}}">{{ repair.drivers.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}