{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">
                        {% if deal.id %}
                            {{ deal.name }}
                        {% else %}
                            Создание сделки
                        {% endif %}
                    </h1>
                    <div class="inline">
                            <a href="/admin/deals">все сделки</a>
                    </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    {% if deal.id %}
                    action="/api/deal/{{ deal.id }}"
                    {% else %}
                    action="/api/deal"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-5 ">
                    <div class="form">

                            <input type="text" class="form-login" name="name" placeholder="Название сделки" value="{{ deal.name }}">
                            <select name="company_id" class="form-login chosen-select" data-placeholder="Выбрать компанию" tabindex="1">
                                {% if deal is null %} <option value=""> dfsfsd</option> {% endif %}
                                {% for company in companies %}
                                    <option value="{{company.id}}" {% if deal.company_id == company.id %} selected {% endif %} > {{ company.name }} </option>
                                {% endfor %}
                            </select>
                            <input type="text" class="form-login" name="budget" placeholder="Бюджет" value="{{ deal.budget }}">
                            <input type="text" class="form-login" name="date" placeholder="Дата заключения" value="{{ deal.date }}">
                            <button class="blue-button inline" type="submit">
                                {% if deal.id %} Сохранить {% else %} Добавить {% endif %}
                            </button>
                            {% if deal.id %}
                                <a class="inline" href="/api/delete/deal/{{ deal.id }}"><div class="red-button inline">Удалить сделку</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-7 ">
                    <div class="form">
                            <textarea name="description" rows="8">{{ deal.description }}</textarea>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->



{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}