{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Сделки  </h1>
                    <div class="inline"> <a href="/admin/deal"> + новая сделка </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Название</th>
                            <th>Компания</th>
                            <th>Бюджет</th>
                            <th>Описание</th>
                            <th>Дата</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for deal in deals %}
                            <tr>
                                <td><a href="/admin/deal/{{ deal.id }}">{{ deal.name }} </a></td>
                                <td>{{ companies[deal.company_id]['name'] }} </td>
                                <td>{{ deal.budget }} руб </td>
                                <td>{% if deal.description|length > 2 %} <span class="show-desc" data-id="{{ deal.id }}"> посмотреть </span>
                                <div class="description description-{{ deal.id }}">{% markdown %} {{ deal.description }} {% endmarkdown %}</div> {% endif %}
                                </td>
                                <td>{{ deal.created_at|date("Y - m - d") }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}