{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Спецтехника </h1>
                    <div class="inline"> <a href="/admin/transports">весь транспорт</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if transport.id %}
                    action="/api/transport/{{ transport.id }}"
                    {% else %}
                    action="/api/transport"
                    {% endif %}
                    enctype="multipart/form-data"
            >
            <div class="row">
                <div class="col-md-8">
                    <div class="form">
                        {% if partner is null %} {% set partner = transport.partner  %} {% endif %}
                        <h3><a href="/admin/partner/{{ partner.id }}"> {{ partner.name }} </a> </h3>
                        <input name="partner_id" value="{{ partner.id }}" type="hidden">
                        <select name="kind_transport" class="form-login chosen-select" data-placeholder="Выбрать компанию">
                            {% for kind in kinds_transport %}
                                <option value="{{ kind.id }}" {% if transport.kind_transport == kind.id %} selected {% endif %} >{{ kind.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Характеристики техники</label>
                        <textarea name="description" rows="8">{{ transport.description }}</textarea>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Цена 1 часа (метра) за наличный рассчет </label>
                                <input type="text" class="form-login" name="price_hour" value="{{ transport.price_hour }}" required>
                            </div>
                            <div class="col-md-6">
                                <label>Цена 1 часа (метра) за БЕЗНАЛИЧНЫЙ рассчет </label>
                                <input type="text" class="form-login" name="price_hour_beznal" value="{{ transport.price_hour_beznal }}" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Доставка по Абакану </label>
                                <input type="text" class="form-login" name="delivery_abakan" value="{{ transport.delivery_abakan }}" required>
                            </div>
                            <div class="col-md-6">
                                <label>Доставка межгород </label>
                                <input type="text" class="form-login" name="delyvery_city" value="{{ transport.delyvery_city }}" required>
                            </div>
                        </div>

                        <label>Цена за 1 час при 8 часовой смене </label>
                        <input type="text" class="form-login" name="price_hour_smena" value="{{ transport.price_hour_smena }}" required>
                        <label>Минимальный заказ </label>
                        <input type="text" class="form-login" name="min_price" value="{{ transport.min_price }}" required>
                        <label>Марка машины </label>
                        <input type="text" class="form-login" name="mark_transport" value="{{ transport.mark_transport }}">
                        <label>Гос. номер машины </label>
                        <input type="text" class="form-login" name="gos_nomer" value="{{ transport.gos_nomer }}">
                        <label>Фио водителя </label>
                        <input type="text" class="form-login" name="name_driver" value="{{ transport.name_driver }}">


                        <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if transport.id %}
                                <a class="inline" href="/api/delete/transport/{{ transport.id }}"><div class="red-button inline">Удалить</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form">
                        <h4> Изображение спецтехники</h4>
                        <input type="file" name="pics[]" multiple>
                        {% if transport.files %}
                            {% for file in transport.files %}
                                <div class="open-image"><img width="100" src="/{{ file.url }}" onclick="imageRemodal({{ file.id }})"> <a href="/api/delete/file/{{ file.id }}?back=/admin/transport/{{ transport.id }}">Удалить</a> </div>
                                <div class="image-remodal success" id="img-{{ file.id }}"><img src="/{{ file.url }}"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->




{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}