{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Спецтехника </h1>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table clients table-striped">
                        <thead>
                        <tr>
                            <th><a href="?sortby=partner&sort=desc">↓</a> Имя партнера <a href="?sortby=partner&sort=asc">↑</a> </th>
                            <th><a href="?sortby=kinds&sort=desc">↓</a> Вид техники <a href="?sortby=kinds&sort=asc">↑</a> </th>
                            <th>Цена за час</th>
                            <th>Цена за час (БЕЗНАЛ)</th>
                            {#<th>Минимальный заказ</th>#}
                            <th>Доставка по Абакану</th>
                            <th>Доставка Межгород</th>
                            {#<th>Марка машины</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for transport in transports %}
                            <tr>
                                <td><a href="/admin/partner/{{ transport.partner.id }}">{{ transport.partner.name }} </a> </td>
                                {% for kind in kinds_transport %}
                                    {% if kind.id == transport.kind_transport %} <td> <a href="/admin/transport/{{ transport.id }}">{{ kind.name }}</a>
                                        {% if transport.description|length > 2 %} <span class="show-desc" data-id="{{ transport.id }}"> <i class="fa fa-eye" aria-hidden="true"></i> </span>
                                            <div class="description description-{{ transport.id }}">{% markdown %} {{ transport.description }} {% endmarkdown %}</div> {% endif %}
                                    </td> {% endif %}
                                {% endfor %}
                                <td>{{ transport.price_hour }} </td>
                                <td>{{ transport.price_hour_beznal }} </td>
                                {#<td>{{ transport.min_price }} </td>#}
                                <td>{{ transport.delivery_abakan }} </td>
                                <td>{{ transport.delyvery_city }}</td>
                                {#<td>{{ transport.mark_transport }} </td>#}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}