{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Движение </h1>
                    <h3>Фильтр</h3>

                    <form method="GET" action="/admin/movement">
                        <div class="row">
                            <h4>По дате</h4>
                            <div class="col-md-2">
                                <label>Начало: </label>
                                <input type="text" class="form-elem form-login datepicker" name="date_start" value="{{data.date_start}}">
                            </div>

                            <div class="col-md-2">
                                <label>Конец: </label>
                                <input type="text" class="form-elem form-login datepicker" name="date_end" value="{{data.date_end}}">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-4">
                                    <label>Техника</label>
                                    <select class="form-elem form-login chosen-select" data-placeholder="Выберите технику" name="transport">
                                        <option></option>
                                        {% for tr in transport %}
                                            {% if data.transport == tr.id %}
                                                <option value="{{tr.id}}" selected>{{tr.name}}</option>
                                            {% else %}
                                                <option value="{{tr.id}}">{{tr.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                            </div>

                            <div class="col-md-2">
                                    <label>Тип движения</label>
                                    <select class="form-elem form-login chosen-select" data-placeholder="Выберите тип движения" name="entity_type">
                                        <option></option>
                                        <option value="Subreport" {% if data.entity_type == 'Subreport' %} selected {% endif %} >Приход</option>
                                        <option value="Repair" {% if data.entity_type == 'Repair' %} selected {% endif %}>Расход</option>
                                    </select>
                            </div>

                            <div class="col-md-5">
                                    <label>
                                    	<input type="radio" name="type" value="0"
										{% if not data.type or data.type != 1 %}
											checked
										{% endif %}
                                    	>
                                    	Поиск запчастей
                                    </label>

                                    <label style="margin-left: 15px;">
                                    	<input type="radio" name="type" value="1"
										{% if data.type == 1 %}
											checked
										{% endif %}
                                    	>
                                    	Исключить запчасти
                                    </label>
                                    <input type="text" class="part-name" value="{{data.part_name}}" name="part_name">
                            </div>                     
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-3">
                                <button class="blue-button inline" type="submit">Поиск</button>
                            </div>
                            <div class="col-md-3">
                                <a class="btn blue-button inline" href="/admin/movement">Очистить</a>
                            </div>
                        </div>
                    </form>
                    <hr class="aky">
                </div>
            </div>

            {% include 'admin/inc/pagination.html.twig' with {'data': movement, 'query': data} %}
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Дата</th>
                            <th>Тип движения</th>
                            <th>Запчасть/расходник</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Кол-во</th>
                            <th>Сумма</th>
                            <th>Техника</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set summ = 0 %}
                        {% for mov in movement.data %}
                            {% set summ = summ + (mov.price * mov.count) %}
                            {% if mov.entity_type == 'Repair' %}
                                {% set class = 'success' %}
                                {% set link = 'repair/add/' ~ mov.entity_id %}
                            {% elseif mov.entity_type == 'Subreport' %}
                                {% set class = 'white' %}
                                {% set link = 'subreport/' ~ mov.entity_id %}
                            {% endif %}

                            <tr class="{{class}}">
                                <td><a href="/admin/{{link}}">{{ mov.date|date("d/m/Y") }}</a></td>
                                <td><a href="/admin/{{link}}">
                                    {% if mov.entity_type == 'Subreport' %}
                                        {{ 'Приход' }}
                                    {% elseif mov.entity_type == 'Repair' %}
                                        {{ 'Расход' }}
                                    {% endif %}
                                    </a>
                                </td>
                                <td><a href="/admin/{{link}}">{{ mov.part.title }}</a></td>
                                <td><a href="/admin/{{link}}">{{ mov.description}} {% if mov.entity.repair_type %}({{mov.entity.repair_type}}){% endif %}</a></td>
                                <td><a href="/admin/{{link}}">{{mov.price}}</a></td>
                                <td><a href="/admin/{{link}}">{{mov.count}}</a></td>
                                <td><a href="/admin/{{link}}">{{(mov.price * mov.count) | round(2, 'ceil')}}</a></td>
                                <td><a href="/admin/{{link}}">{{ mov.transport.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {% if data %}
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Итого</td>
                                <td>
                                    {{ summ | round(2, 'ceil') }} руб.
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                        {% endif %}
                    </table>
                </div>


            </div>
            {% include 'admin/inc/pagination.html.twig' with {'data': movement, 'query': data} %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

<script type="text/javascript">
	
        $(document).on('keydown.autocomplete', '.part-name', function(){
        	$('.hidden_part').remove();
            $(this).autocomplete({
                serviceUrl: '/api/autocomplete/parts',
                noCache: true,
                showNoSuggestionNotice: true,
                deferRequestBy: 100,
                noSuggestionNotice: "Такой запчасти в базе нет",
                onSelect: function (suggestion) {
                	$('<input type="hidden" name="part_id" class="hidden_part" value="' + suggestion.data.id + '">').insertAfter(this);
                }
            });

        });

</script>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}