            {% if data.last_page > 1 %}
            <div class="row">
                <div class="col-md-12">
                    {% if query %}
                        {% set query = query|url_encode ~ '&' %}
                    {% else %}
                        {% set query = null %}
                    {% endif %}

                    <ul class="pagination" style="float: right;">
                    {% if data.prev_page_url %}
                      <li><a href="?{{query}}page={{data.current_page - 1}}" title="Предыдущая страница">&laquo;</a></li>
                    {% endif %}
                    {% for page in 1..data.last_page %}
                      <li {% if data.current_page == page %}class="active"{% endif %}><a href="?{{query}}page={{page}}">{{page}}</a></li>
                    {% endfor %}
                    {% if data.next_page_url %}
                      <li><a href="?{{query}}page={{data.current_page + 1}}" title="Следующая страница">&raquo;</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}