<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

<!-- Optional theme -->
{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> #}
    
    <link rel="stylesheet" href="/views/slate/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/custom.css">

    <link rel="stylesheet" href="/views/slate/my.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/slate/chosen.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/slate/font-awesome.css">
    <!-- <link rel="stylesheet" href="/views/fileUploader.css" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->

</head>

<body>
<aside>
    {# <img id="sidebg" src="/views/slate/wallpaper.jpg"> #}
    <h4>CRM.SPECTEH19 </h4>
    <h5 style="text-align: center;">{{session.user.first_name}} {{session.user.last_name}}</h5>
    <hr>
    <div class="side-menu">
        {#<a href="/admin/leads">Лиды </a>#}

        {% if session.user.role.permissions.order_view %} 
        <a href="/admin/orders">Заявки </a>
        {% endif %}

        {% if session.user.role.permissions.clients_view %} 
        <a href="/admin/clients">Клиенты </a>
        {% endif %}

        {% if session.user.role.permissions.company_view %} 
        <a href="/admin/company">Компании </a>
        {% endif %}

        {% if session.user.role.permissions.partners_view %}
        <a href="/admin/partners">Партнеры </a>
        {% endif %}

        {% if session.user.role.permissions.partners_view %}
            <a href="/admin/agents">Агенты </a>
        {% endif %}

        {% if session.user.role.permissions.transports_view %}
        <a href="/admin/transports">Спецтехника </a> 
        {% endif %}

        {% if session.user.role.permissions.subreports_view %}
        <a href="/admin/subreports">Подотчеты </a>
        {% endif %} 
 
        {% if session.user.role.permissions.parts_view %}
        <a href="/admin/parts">Запчасти </a>
        {% endif %}

        {% if session.user.role.permissions.repairs_view %}    
        <a href="/admin/repairs">Ремонт</a>
        {% endif %}

        {% if session.user.role.permissions.movement_view %}
        <a href="/admin/movement">Движение запчастей</a>     
        {% endif %}  

        {% if session.user.role.permissions.drivers_view %}
        <a href="/admin/drivers">Водители </a>
        {% endif %}

        {% if session.user.role.permissions.settings_view %}
        <a href="/admin/settings">Настройки </a>
        {% endif %}

        {% if session.user.role.permissions.user_view %}
        <a href="/admin/users">Пользователи </a>
        {% endif %} 

        <a href="/api/logout">Выйти </a> 
        {#<a href="/admin/reports">Отчеты </a>#}


    </div>
</aside>
<div class="main-page">
{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">


            </div>
        </div>
        <!-- /#page-content-wrapper -->
{% endblock %}
</div>
    <!-- /#wrapper -->

<div id="to-top">
	<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
</div>


{% block scripts %}
{% endblock %}
    <link rel="stylesheet" href="/views/remodal.css">
    <link rel="stylesheet" href="/views/remodal-default-theme.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/views/slate/pickmeup.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/slate/autocomplete.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/views/slate/print.css">
    <link rel="stylesheet" type="text/css" href="/views/slate/dropzone.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/views/slate/datepicker-ru.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="/views/fileUploader.min.js"></script>
    <script src="/views/dropzone.js"></script>
    <script src="/views/slate/jquery.binding.js"></script>
    <script src="/views/slate/chosen.jquery.min.js"></script>
    <script src="/views/slate/pickmeup.min.js"></script>
    <script src="/views/slate/jquery.autocomplete.min.js"></script>
    <script src="/views/remodal.min.js"></script>
    <script src="/views/slate/flatpickr.js"></script>
    <script src="/views/slate/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js"></script>
    <script src="/views/slate/custom.js"></script>
    <script src="/views/slate/autosize.js"></script>
    <script src="/views/slate/jquery-autoresize.js"></script>
    <script src="/views/slate/dropzone.js"></script>

<script type="text/javascript">
	
	var animate = false;

	function scroll () {
		if (!animate) {
			animate = true;
			if ($(document).scrollTop() > 150) {
				$('#to-top').show( "slow", () => animate = false );
			} else {
				$('#to-top').hide( "slow", () => animate = false );
			}			
		}			
	}

	$( document ).scroll(function() {
		scroll();
	});

	scroll();

	$("#to-top").click(function() {
		$("html, body").animate({ scrollTop: 0 }, "slow");
		return false;
	});

</script>

</body>

</html>