{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Партнер </h1>
                    <div class="inline"> <a href="/admin/partners">все партнеры</a> </div>
                    {% if partner.id %}
                        <div class="inline padding-10"> <a href="/admin/orders/partner/{{ partner.id }}">Заявки этого партнера</a> </div>
                    {% endif %}
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if partner.id %}
                    action="/api/partner/{{ partner.id }}"
                    {% else %}
                    action="/api/partner"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-6">
                    <div class="form">
                            <label>ФИО Партнера </label>
                            <input type="text" class="form-login" name="name" placeholder="ФИО Партнера" value="{{ partner.name }}" required>
                            <label>Мобильный телефон </label>
                            <input type="text" class="form-login mobile-phone" name="phone_mobile" placeholder="Номер мобильного телефона" value="{{ partner.phone_mobile }}" required>
                            <label>Дополнительный телефон</label>
                            <input type="text" class="form-login mobile-phone" name="phone_dop" placeholder="Номер дополнительного телефона" value="{{ partner.phone_dop }}">
                            <label>Email </label>
                            <input type="text" class="form-login mail" name="email" placeholder="Электронная почта" value="{{ partner.email }}" />
                            <label>Компания</label>
                            <select name="company_id" class="form-login chosen-select" required aria-required="true" data-placeholder="Выбрать компанию">
                                <option></option>
                                {% for company in companies %}
                                    <option value="{{ company.id }}" {% if partner.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Должность </label>
                            <input type="text" class="form-login" name="job_title" placeholder="Должность в компании" value="{{ partner.job_title }}" />

                            <div class="field">
                                <label>Заключен ли договор </label><br>
                                <input name="dogovor" {% if partner.dogovor == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                <input name="dogovor" {% if partner.dogovor == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                            </div>

                            <label>№ карты Сбербанка </label>
                            <input type="text" class="form-login" name="sbercard" placeholder="Впишите № карты" value="{{ partner.sbercard }}" />
                            <label>Срок действия</label>
                            <input type="text" class="form-login" name="expired_sbercard" value="{{ partner.expired_sbercard }}" />
                            <label>На кого выписана</label>
                            <input type="text" class="form-login" name="cardholder" value="{{ partner.cardholder }}" />

                        <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if partner.id %}
                                <a class="inline" href="/api/delete/partner/{{ partner.id }}"><div class="red-button inline">Удалить</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 form">
                    <label>Дата рождения</label>
                    <input type="text" class="form-login date" name="birthday" placeholder="Дата рождения" value="{{ partner.birthday }}" />
                    <div class="form">
                            <label>Дополнительная информация</label>
                            <textarea name="description" rows="8">{{ partner.description }}</textarea>
                    </div>

                    <div id="transports">
                        <h4>Техника партнера </h4>
                        <h5><a href="/admin/partner/{{ partner.id }}/transport">+ добавить технику </a></h5>
                        <table class="table">
                            {% for transport in partner.transports %}
                                <tr> <td> {% for kind in kinds_transport %}
                                        {% if kind.id == transport.kind_transport %} <a href="/admin/transport/{{ transport.id }}"> {{ kind.name }} </a> {% endif %}
                                        {% endfor %} </td>
                                    <td> {{ transport.mark_transport }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->




{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}