{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Запчасти (номенклатура) </h1>
                    <div class="inline">
                        <a href="/admin/part"> + добавить запчасть </a> / 
                        <a href="/admin/parts/trashed">показать удаленные</a> /
                        <a href="/admin/parts/excel">выгрузить в Excel</a>
                    </div>

                    <form method="GET" action="/admin/parts">
                        <div class="row" style="display: flex; align-items: flex-end; margin-top: 20px;">
                            <div class="col-md-3">
                                    <label>Техника</label>
                                    <select class="form-elem form-login chosen-select" data-placeholder="Выберите технику" name="transport">
                                        <option></option>
                                        {% for tr in transport %}
                                            {% if data.transport == tr.id %}
                                                <option value="{{tr.id}}" selected>{{tr.name}}</option>
                                            {% else %}
                                                <option value="{{tr.id}}">{{tr.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                            </div>

                            <div class="col-md-5">
                                <label>Наименование запчасти</label>
                                <input type="text" name="title" class="form-elem form-login parts-name" value="{{data.title}}" style="margin-bottom: 0px;">  
                            </div> 

                            <div class="col-md-1">
                                <button class="blue-button inline" type="submit" style="min-width: 80px;">Поиск</button>
                            </div>

                            <div class="col-md-1">
                                <a class="btn blue-button inline" href="/admin/parts" style="min-width: 80px; font-size: 13px;">Очистить</a>
                            </div>

                        </div>


                    </form>

                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table clients table-striped">
                        <thead>
                        <tr>
                            <th>Запчасть/расходник</th>
                            <th style="min-width: 80px;">
                                <a href="?sortby=count&sort=desc">↓</a>
                                Кол-во
                                <a href="?sortby=count&sort=asc">↑</a>
                            </th>
                            <th>Ед.изм</th>
                            <th>Цена</th>
                            <th>Примечание</th>
                            {#<th>Редактировать</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in parts %}
                            <tr>
                                <td><a href="/admin/part/{{ part.id }}">{{ part.title }} </a></td>
                                <td
                                    {% if part.count < 0 %}
                                    style="color: red;"
                                    {% endif %}
                                >{{ part.count }} </td>
                                <td>{{ part.unit }} </td>
                                <td>{{ part.price }}</td>
                                <td>{{ part.note }}</td>
                                {#<td>
                                    <a href="/admin/part/{{ part.id }}" title="Редактировать">Редактировать</a>
                                    <form action="/api/parts/delete" method="POST" style="float: right;">
                                        <input type="hidden" name="id" value="{{part.id}}">
                                        <a onclick="this.parentNode.submit()" title="Удалить">Удалить</a>
                                    </form>
                                </td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}