{% extends "layout.html.twig" %}

{% block content %}
<style type="text/css">
    .chosen-choices {
        height: auto !important;
    }
</style>

{% if session.user.role.slug != 'admin' %}
	{% set user_edit = true %}
{% endif %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Запчасть </h1>
                    <div class="inline">
                        <a href="/admin/parts">все запчасти</a> 
                        {% if part.id %}
                            / <a href="/admin/movement?part_name={{part.title | url_encode}}">движение этой запчасти</a>
                        {% endif %} 
                    </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if part.id %}
                    action="/api/parts/update/{{ part.id }}"
                    {% else %}
                    action="/api/parts/add"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-8">
                    <div class="form">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label>Наименование </label>
                                <input type="text" class="form-login part-name" name="part[title]" placeholder="Наименование запчасти" value="{{ part.title }}" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Цена, руб.</label>
                                <input  type="text" 
                                        class="form-login num-only double" name="part[price]" 
                                        placeholder="Цена запчасти" 
                                	    value={% if part.id %}"{{ part.price }}"{% else %}"0"{% endif %} 
                                        {% if user_edit %}disabled{% endif %}
                                	    required
                                >
                            </div>

                            <div class="col-md-4">
                                <label>Количество </label>
                                <input type="text" 
                                       class="form-login num-only signed double" 
                                       name="part[count]" 
                                	   value="{% if part.count %}{{ part.count }}{% else %}{{'0'}}{% endif %}" 
									   
                                       {% if part.count < 0 %}
                                       style="color: red;"
                                       {% endif %} 

                                       {% if user_edit %}disabled{% endif %}
                                	   required
                                >
                            </div>

                            <div class="col-md-4">
                                <label>Ед. изм. </label>
                                <select name="part[unit]" class="form-login chosen-select" data-placeholder="Выбрать единицу измерения" required>
                                    <option value="шт." {% if 'шт.' == part.unit %} selected {% endif %} >шт.</option>
                                    <option value="литр." {% if 'литр.' == part.unit %} selected {% endif %} >литр.</option>
                                    <option value="кг." {% if 'кг.' == part.unit %} selected {% endif %} >кг.</option>
                                    <option value="комп." {% if 'комп.' == part.unit %} selected {% endif %} >комп.</option>
                                    <option value="метр." {% if 'метр.' == part.unit %} selected {% endif %} >метр.</option>
                                    <option value="упак." {% if 'упак.' == part.unit %} selected {% endif %} >упак.</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-md-6">
                                    <label>Вид техники</label>
                                </div>

                                <div class="col-md-6">
                                    <label style="margin-right: 10px;">Универсальная запчасть</label>
                                    <input id="universal-part" type="checkbox" name="part[universal]" value="1" 
                                    {% if part.universal == '1' %}checked="checked"{% endif %}>
                                </div>
                                
                                <select id="select-transport" name="transport[]" class="form-login chosen-select" multiple required data-placeholder="Выбрать вид техники"
                                {% if part.universal == '1' %}disabled="disabled"{% endif %}
                                >
                                    {% for t in transport %}
                                        <option value="{{t.id}}" 
                                            {% for arr in part.transport if arr.pivot.transportRepair_id == t.id %}
                                                    selected
                                            {% endfor %}
                                        >{{t.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Примечание</label>
                                <textarea class="form-login" placeholder="Текст примечания" name="part[note]">{{ part.note }}</textarea>
                            </div>
                        </div>

                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if part.id %}
                                    <button id="delete-part" class="red-button" type="button">Удалить запчасть</button>
                            {% endif %}
                    </div>
                </div>

            </form>
            <form id="frm-del-part" action="/api/parts/delete/{{part.id}}" method="post"></form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

<script type="text/javascript">
$(function() {
    $(document).on('keydown.autocomplete', '.part-name', function(){
        $(this).siblings('.part-exist').remove();
        $('button[type="submit"]').attr('disabled', false);
        $(this).autocomplete({
            serviceUrl: '/api/autocomplete/parts',
            noCache: true,
            showNoSuggestionNotice: false,
            deferRequestBy: 50,
            onSelect: function (suggestion) {
                if (!$(this).siblings('.part-exist').length) {
                    $('<span class="part-exist" style="color: red;">Такая запчасть уже есть в базе</span>').insertBefore(this);
                }
                $('button[type="submit"]').attr('disabled', true);
            }        
        });
    });

    $('#universal-part').change(function() {
        if ($(this).prop('checked')) {
            $('#select-transport').prop( "disabled", true );
        } else {
            $('#select-transport').prop( "disabled", false );
        }
        $(".chosen-select").trigger("chosen:updated");
    });

    $('#delete-part').click(function() {
        if (confirm('Удалить запчасть {{part.title}}?')) {
            $('#frm-del-part').submit();
        }
    });   
});

</script>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}