{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Входящая заявка </h1>
                    <div class="inline"> <a href="/admin/orders">все заявки</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    id="order-form"
                    class="dropzone"
                    style="margin-bottom: -5px; margin-bottom: auto !important;"
                    {% if order.id %}
                        action="/api/order/{{ order.id }}"
                    {% else %}
                        action="/api/order"
                    {% endif %}
                    enctype="multipart/form-data"
            >


                <input type="hidden" name="order[owner_id]" value="{{ session.user.id }}">
                <input type="hidden" name="dop_info[back_url]" value="{{ back_url }}">


                <div class="row">
                    <div class="col-md-10">
                        <div class="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Статус заявки </label>
                                    <select id="status" name="order[status]" class="form-login chosen-select" required aria-required="true">
                                        <option value="1" {% if order.status == 1 or order.status is empty  %} selected {% endif %} >Входящие</option>
                                        <option value="2" {% if order.status == 2 %} selected {% endif %} >На заявку</option>
                                        <option value="3" {% if order.status == 3 %} selected {% endif %} >Перезвонить</option>
                                        <option value="4" {% if order.status == 4 %} selected {% endif %} >Выполнено</option>
                                        <option value="5" {% if order.status == 5 %} selected {% endif %} >Отмена</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ФИО Клиента <span id="client-link"> <a href="/admin/client/{{ client.id }}"> {{ client.name }} </a> </span> </label>
                                    <input type="text" class="form-login name-client" name="client[name]" placeholder="ФИО Клиента" value="{{ client.name }}" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Мобильный телефон </label>
                                    <input type="text" class="form-login phone-mobile mobile-phone" name="order[client_phone]" id="autocomplete-client" placeholder="Номер мобильного телефона" value="{{ order.client_phone }}" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Дополнительный телефон</label>
                                    <input type="text" class="form-login phone-dop" name="client[phone_dop]" placeholder="Номер дополнительного телефона" value="{{ client.phone_dop }}">
                                    <input name="order[client_id]" type="hidden" class="client-id" value="{{ order.client_id }}">
                                </div>
                                <div class="col-md-6">
                                    <label>Компания</label>
                                    <select id="company-select" name="order[company_id]" class="form-login chosen-select"  data-placeholder="Выбрать компанию">
                                        <option></option>
                                        {% for company in companies %}
                                            {#<option value="{{ company.id }}" {% if order.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>#}
                                            {% if order.company_id %}
                                                <option value="{{ company.id }}" {% if order.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>
                                            {% else %}
                                                <option value="{{ company.id }}" {% if company.id == 6 %} selected {% endif %} >{{ company.name }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Вид техники</label>
                                    <select name="order[kind_transport]" class="form-login chosen-select" required aria-required="true" data-placeholder="Выбрать технику">
                                        <option></option>
                                        {% for kind in kinds_transport %}
                                            <option value="{{ kind.id }}" {% if order.kind_transport == kind.id %} selected {% endif %} >{{ kind.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Дата заказа / время</label>
                                    <input type="text" class="form-login datetime" name="order[date_order]" placeholder="Дата выполнения заказа" value="{{ order.date_order }}" required aria-required="true">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Место работы</label>
                                    <textarea name="order[place_order]" rows="2" required>{{ order.place_order }}</textarea>
                                </div>
                                <div class="col-md-4">
                                    <label>Вид работ</label>
                                    <textarea name="order[detail_order]" rows="2" required>{{ order.detail_order }}</textarea>
                                </div>
                                <div class="col-md-4">
                                    <label>Прочая информация</label>
                                    <textarea id="other_info" name="order[other_info]" rows="2">{{ order.other_info }}</textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Чья техника ?</label>
                                    <select id="transport_owner" name="order[transport_owner]" class="form-login chosen-select">
                                        <option></option>
                                        <option value="1" {% if order.transport_owner == 1 %} selected {% endif %} >Наша техника</option>
                                        <option value="2" {% if order.transport_owner == 2 %} selected {% endif %} >Партнерская техника</option>
                                        <option value="3" {% if order.transport_owner == 3 %} selected {% endif %} >Совместная работа</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Вид расчета</label>
                                    <select id="beznal" name="order[beznal]" class="form-login chosen-select">
                                        <option value="0" {% if order.beznal == 0 %} selected {% endif %} >Наличный</option>
                                        <option value="1" {% if order.beznal == 1 %} selected {% endif %} >БЕЗНАЛичный расчет</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Агент заявки <a class="clean" id="agentClean">Очистить</a></label>
                                    <select id="agent" name="order[agent_id]" class="form-login chosen-select">
                                        <option></option>
                                        {% for agent in agents %}
                                            <option value="{{ agent.id }}" {% if order.agent_id == agent.id %} selected {% endif %} >{{ agent.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3" style=" padding-bottom: 5px;">
                                    <div id="paid-to-agent" style="height: 61px;">
                                        <label>Оплачено агенту</label>
                                        <br>
                                        <input name="order[paid_to_agent]" id="paid_to_agent_1" {% if order.paid_to_agent == 1 %} checked="checked" {% endif %} type="radio" value="1" required/><label for="paid_to_agent_1">Да</label>
                                        <input name="order[paid_to_agent]" {% if order.paid_to_agent == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                    </div>
                                </div>
                            </div>

                            {#<hr class="aky">#}
                            {#<div class="row">#}
                            {#<div class="col-md-6">#}
                            {#<label>Сумма заказа</label>#}
                            {#<input id="price_order" type="text" class="form-login" name="order[price_order]" placeholder="Сумма, руб." value="{{ order.price_order }}">#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                            {#<div class="field">#}
                            {#<label>Оплата по заказу получена ? </label><br>#}
                            {#<input name="order[payed]" {% if order.payed == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да#}
                            {#<input name="order[payed]" {% if order.payed == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}

                            <section id="our_transport" {% if order.transport_owner == 2 or order.driver_id1 is not defined or order.driver_id1 == 0 %} style="display: none;" {% endif  %}>
                                <hr class="aky">
                                <section id="driver1"
                                        {% if order.status == 4 and order.payed1 == 1 %} class="blockinput" {% endif %}
                                >
                                    <div class="row">
                                        <h4>Наша техника 1 </h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Сумма заказа</label>
                                                <input id="price_order1" type="text" class="form-login if-less-zero calc-zp-driver price_order" name="order[price_order1]" placeholder="Сумма, руб." value="{{ order.price_order1 }}">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="field">
                                                    <label>Оплата по заказу получена ? </label><br>
                                                    <input name="order[payed1]" {% if order.payed1 == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                                    <input name="order[payed1]" {% if order.payed1 == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Водитель <a class="clean">Очистить</a></label>
                                            <select name="order[driver_id1]" class="form-login chosen-select" data-placeholder="Выбрать водителя">
                                                <option></option>
                                                {% for driver in drivers %}
                                                    <option value="{{ driver.id }}" {% if order.driver_id1 == driver.id %} selected {% endif %} >{{ driver.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>ЗП водителя <a id="sum-driver">Рассчитать</a></label>
                                            <input type="text" class="form-login" name="order[zp_driver1]" placeholder="Сумма, руб." value="{{ order.zp_driver1 }}">
                                        </div>
                                    </div>

                                    <div class="row">
                                        {#<div class="col-md-12">#}
                                        {#<label>Оценка водителя</label>#}
                                        {#<select name="order[rating_driver1]" class="form-login chosen-select" data-placeholder="Выбрать оценку">#}
                                        {#<option></option>#}
                                        {#{% for i in range(1, 10) %}#}
                                        {#<option value="{{ i }}" {% if order.rating_driver1 == i %} selected {% endif %} >{{ i }}</option>#}
                                        {#{% endfor %}#}
                                        {#</select>#}
                                        {#</div>#}
                                        <div class="clear"></div>
                                        {% if order.driver_id2 == 0 or order.driver_id2 is not defined %} <h4 class="add-section"><a data-section="driver2">Добавить еще технику</a></h4>{% endif  %}
                                    </div>
                                </section>

                                <section id="driver2" {% if order.driver_id2 == 0 %} style="display: none;" {% endif  %}
                                        {% if order.status == 4 and order.payed2 == 1 %} class="blockinput" {% endif %}
                                >
                                    <div class="row">
                                        <h4>Наша техника 2 </h4>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Сумма заказа</label>
                                                <input id="price_order2" type="text" class="form-login calc-zp-driver price_order" name="order[price_order2]" placeholder="Сумма, руб." value="{{ order.price_order2 }}">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="field">
                                                    <label>Оплата по заказу получена ? </label><br>
                                                    <input name="order[payed2]" {% if order.payed2 == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                                    <input name="order[payed2]" {% if order.payed2 == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Водитель <a class="clean">Очистить</a></label>
                                            <select name="order[driver_id2]" class="form-login chosen-select" data-placeholder="Выбрать водителя">
                                                <option></option>
                                                {% for driver in drivers %}
                                                    <option value="{{ driver.id }}" {% if order.driver_id2 == driver.id %} selected {% endif %} >{{ driver.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>ЗП водителя <a id="sum-driver">Рассчитать</a></label>
                                            <input type="text" class="form-login" name="order[zp_driver2]" placeholder="Сумма, руб." value="{{ order.zp_driver2 }}">
                                        </div>
                                    </div>

                                    {#<div class="row">#}
                                    {#<div class="col-md-12">#}
                                    {#<label>Оценка водителя</label>#}
                                    {#<select name="order[rating_driver2]" class="form-login chosen-select" data-placeholder="Выбрать оценку">#}
                                    {#<option></option>#}
                                    {#{% for i in range(1, 10) %}#}
                                    {#<option value="{{ i }}" {% if order.rating_driver2 == i %} selected {% endif %} >{{ i }}</option>#}
                                    {#{% endfor %}#}
                                    {#</select>#}
                                    {#</div>#}
                                    {#</div>#}
                                </section>

                            </section>



                            <section id="partner" {% if order.transport_owner == 1 or order.partner_id1 is not defined or order.partner_id1 == 0  %} style="display: none;" {% endif %}
                                    {% if order.status == 4 and order.payed3 == 1 %} class="blockinput" {% endif %}
                            >
                                <hr class="aky">
                                <section id="partner1">
                                    <h4>Партнерская техника 1</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Сумма заказа</label>
                                            <input id="price_order3" type="text" class="form-login if-less-zero price_order" name="order[price_order3]" placeholder="Сумма, руб." value="{{ order.price_order3 }}">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="field">
                                                <label>Оплата по заказу получена ? </label><br>
                                                <input name="order[payed3]" {% if order.payed3 == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                                <input name="order[payed3]" {% if order.payed3 == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Партнер <a class="clean">Очистить</a></label>
                                            <select name="order[partner_id1]" class="form-login chosen-select" data-placeholder="Выбрать партнера">
                                                <option></option>
                                                {% for partner in partners %}
                                                    <option value="{{ partner.id }}" {% if order.partner_id1 == partner.id %} selected {% endif %} >{{ partner.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>% Партнера <a class="calkulat">Рассчитать</a></label>
                                            <select name="order[procent_partner1]" class="form-login chosen-select procent_partner" data-placeholder="Выбрать % партнера">
                                                <option value="10" {% if order.procent_partner1 == 10 %} selected {% endif %} >10 %</option>
                                                <option value="00" {% if order.procent_partner1 == 00 %} selected {% endif %} >0 %</option>
                                                <option value="5" {% if order.procent_partner1 == 5 %} selected {% endif %} >5 %</option>
                                                <option value="7" {% if order.procent_partner1 == 7 %} selected {% endif %} >7 %</option>
                                                <option value="15" {% if order.procent_partner1 == 15 %} selected {% endif %} >15 %</option>
                                                {% if order.procent_partner1 is not defined %} <option selected>Выберите %</option> {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Сумма НАМ <a {% if order.beznal == 0 %} style="display: none;" {% endif %} id="sum-nam">Рассчитать</a>
                                                {#<a style="display: none;" class="sum-nam-beznal">Рассчитать</a>#}
                                            </label>
                                            <input type="text" readonly="readonly" class="form-login" name="order[summ_nam1]" placeholder="Сумма, руб." value="{{ order.summ_nam1 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Сумма Партнеру <a style="display: none;" id="sum-partner">Рассчитать</a></label>
                                            <input type="text" class="form-login summ_partner" name="order[summ_partner1]" placeholder="Сумма, руб." value="{{ order.summ_partner1 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <div class="field">
                                                <label>Оплачено партнеру ? </label><br>
                                                <input name="order[summ_partner_payed1]" {% if order.summ_partner_payed1 == 1 %} checked="checked" {% endif %} type="radio" value="1" /> Да
                                                <input name="order[summ_partner_payed1]" {% if order.summ_partner_payed1 == 0 %} checked="checked" {% endif %} type="radio" value="0" /> Нет
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    {% if order.partner_id2 == 0 or order.partner_id2 is not defined %} <h4 class="add-section"><a data-section="partner2">Добавить еще технику</a></h4> {% endif %}
                                </section>

                                <section id="partner2" {% if order.partner_id2 == 0 or order.partner_id2 is not defined %} style="display: none;" {% endif  %}
                                        {% if order.status == 4 and order.payed4 == 1 %} class="blockinput" {% endif %}
                                >
                                    <h4>Партнерская техника 2</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Сумма заказа</label>
                                            <input id="price_order4" type="text" class="form-login price_order" name="order[price_order4]" placeholder="Сумма, руб." value="{{ order.price_order4 }}">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="field">
                                                <label>Оплата по заказу получена ? </label><br>
                                                <input name="order[payed4]" {% if order.payed4 == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                                <input name="order[payed4]" {% if order.payed4 == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Партнер <a class="clean">Очистить</a></label>
                                            <select name="order[partner_id2]" class="form-login chosen-select" data-placeholder="Выбрать партнера">
                                                <option></option>
                                                {% for partner in partners %}
                                                    <option value="{{ partner.id }}" {% if order.partner_id2 == partner.id %} selected {% endif %} >{{ partner.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>% Партнера <a class="calkulat">Рассчитать</a></label>
                                            <select name="order[procent_partner2]" class="form-login chosen-select procent_partner" data-placeholder="Выбрать % партнера">
                                                <option value="10" {% if order.procent_partner2 == 10 %} selected {% endif %} >10 %</option>
                                                <option value="00" {% if order.procent_partner2 == 00 %} selected {% endif %} >0 %</option>
                                                <option value="5" {% if order.procent_partner2 == 5 %} selected {% endif %} >5 %</option>
                                                <option value="7" {% if order.procent_partner2 == 7 %} selected {% endif %} >7 %</option>
                                                <option value="15" {% if order.procent_partner2 == 15 %} selected {% endif %} >15 %</option>
                                                {% if order.procent_partner2 is not defined %} <option selected>Выберите %</option> {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Сумма НАМ <a {% if order.beznal == 0 %} style="display: none;" {% endif %} id="sum-nam">Рассчитать</a>
                                                {#<a style="display: none;" class="sum-nam-beznal">Рассчитать</a>#}
                                            </label>
                                            <input type="text" readonly="readonly" class="form-login" name="order[summ_nam2]" placeholder="Сумма, руб." value="{{ order.summ_nam2 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Сумма Партнеру <a style="display: none;" id="sum-partner">Рассчитать</a></label>
                                            <input type="text" class="form-login summ_partner" name="order[summ_partner2]" placeholder="Сумма, руб." value="{{ order.summ_partner2 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <div class="field">
                                                <label>Оплачено партнеру ? </label><br>
                                                <input name="order[summ_partner_payed2]" {% if order.summ_partner_payed2 == 1 %} checked="checked" {% endif %} type="radio" value="1" /> Да
                                                <input name="order[summ_partner_payed2]" {% if order.summ_partner_payed2 == 0 %} checked="checked" {% endif %} type="radio" value="0" /> Нет
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    {% if order.partner_id3 == 0 or order.partner_id3 is not defined %}<h4 class="add-section"><a data-section="partner3">Добавить еще технику</a></h4> {% endif %}
                                </section>

                                <section id="partner3" {% if order.partner_id3 == 0 or order.partner_id3 is not defined %} style="display: none;" {% endif  %}
                                        {% if order.status == 4 and order.payed5 == 1 %} class="blockinput" {% endif %}
                                >
                                    <h4>Партнерская техника 3</h4>

                                    <div class="row ">
                                        <div class="col-md-6">
                                            <label>Сумма заказа</label>
                                            <input id="price_order5" type="text" class="form-login price_order" name="order[price_order5]" placeholder="Сумма, руб." value="{{ order.price_order5 }}">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="field">
                                                <label>Оплата по заказу получена ? </label><br>
                                                <input name="order[payed5]" {% if order.payed5 == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                                <input name="order[payed5]" {% if order.payed5 == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Партнер <a class="clean">Очистить</a></label>
                                            <select name="order[partner_id3]" class="form-login chosen-select" data-placeholder="Выбрать партнера">
                                                <option></option>
                                                {% for partner in partners %}
                                                    <option value="{{ partner.id }}" {% if order.partner_id3 == partner.id %} selected {% endif %} >{{ partner.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>% Партнера <a class="calkulat">Рассчитать</a></label>
                                            <select name="order[procent_partner3]" class="form-login chosen-select procent_partner" data-placeholder="Выбрать % партнера">
                                                <option value="10" {% if order.procent_partner3 == 10 %} selected {% endif %} >10 %</option>
                                                <option value="00" {% if order.procent_partner3 == 00 %} selected {% endif %} >0 %</option>
                                                <option value="5" {% if order.procent_partner3 == 5 %} selected {% endif %} >5 %</option>
                                                <option value="7" {% if order.procent_partner3 == 7 %} selected {% endif %} >7 %</option>
                                                <option value="15" {% if order.procent_partner3 == 15 %} selected {% endif %} >15 %</option>
                                                {% if order.procent_partner3 is not defined %} <option selected>Выберите %</option> {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Сумма НАМ <a {% if order.beznal == 0 %} style="display: none;" {% endif %} id="sum-nam">Рассчитать</a>
                                                {#<a style="display: none;" class="sum-nam-beznal">Рассчитать</a>#}
                                            </label>
                                            <input type="text" readonly="readonly" class="form-login" name="order[summ_nam3]" placeholder="Сумма, руб." value="{{ order.summ_nam3 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Сумма Партнеру <a style="display: none;" id="sum-partner">Рассчитать</a></label>
                                            <input type="text" class="form-login summ_partner" name="order[summ_partner3]" placeholder="Сумма, руб." value="{{ order.summ_partner3 }}">
                                        </div>
                                        <div class="col-md-3">
                                            <div class="field">
                                                <label>Оплачено партнеру ? </label><br>
                                                <input name="order[summ_partner_payed3]" {% if order.summ_partner_payed3 == 1 %} checked="checked" {% endif %} type="radio" value="1" /> Да
                                                <input name="order[summ_partner_payed3]" {% if order.summ_partner_payed3 == 0 %} checked="checked" {% endif %} type="radio" value="0" /> Нет
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </section>







                        <section id="finance" {% if order.beznal == 0 %} style="display: none;" {% endif %}>
                            <hr class="aky">
                            <h4>Документация по БЕЗНАЛУ </h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Договор</label>
                                    <select name="order[dogovor]" class="form-login chosen-select">
                                        <option {% if order.company.dogovor == '' %} selected {% endif %}> </option>
                                        <option value="net" {% if order.company.dogovor == 'net' %} selected {% endif %} >Нет</option>
                                        <option value="sostavlen" {% if order.company.dogovor == 'sostavlen' %} selected {% endif %} >Только скан</option>
                                        <option value="podpisan" {% if order.company.dogovor == 'podpisan' %} selected {% endif %} >Подписан</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Акт</label>
                                    <select name="order[akt]" class="form-login chosen-select">
                                        <option value="net" {% if order.akt == 'net' %} selected {% endif %} >Нет</option>
                                        <option value="sostavlen" {% if order.akt == 'sostavlen' %} selected {% endif %} >Только скан</option>
                                        <option value="podpisan" {% if order.akt == 'podpisan' %} selected {% endif %} >Подписан</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <div class="form">
                                        <h4> Сканы</h4>
                                        <div class="dz-message needsclick">
                                            Перетащите файлы сюда, чтобы загрузить их.<br />
                                        </div>
                                        <div id="dropzone-previews"></div>
                                        <!-- <input type="file" name="pics[]" multiple style="display: none;"> -->
                                        <br>
                                        {% if order.files %}
                                            {% for file in order.files %}
                                                <div class="open-image"><img width="100" src="/{{ file.url }}" onclick="imageRemodal({{ file.id }})"> <a href="/api/delete/file/{{ file.id }}?back=/admin/order/{{ order.id }}">Удалить</a> </div>
                                                <div class="image-remodal success" id="img-{{ file.id }}">
                                                    <img src="/{{ file.url }}">
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <br>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Акт</label>
                                        <select name="order[akt]" class="form-login chosen-select">
                                            <option value="net" {% if order.akt == 'net' %} selected {% endif %} >Нет</option>
                                            <option value="sostavlen" {% if order.akt == 'sostavlen' %} selected {% endif %} >Только скан</option>
                                            <option value="podpisan" {% if order.akt == 'podpisan' %} selected {% endif %} >Подписан</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form">
                                            <h4> Сканы</h4>
                                            <input type="file" name="pics[]" multiple>
                                            {% if order.files %}
                                                {% for file in order.files %}
                                                    <div class="open-image"><img width="100" src="/{{ file.url }}" onclick="imageRemodal({{ file.id }})"> <a href="/api/delete/file/{{ file.id }}?back=/admin/order/{{ order.id }}">Удалить</a> </div>
                                                    <div class="image-remodal success" id="img-{{ file.id }}">
                                                        <img src="/{{ file.url }}">
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Примечание к договору</label>
                                        <textarea name="order[dogovor_prim]" class="autosize" rows="2">{% if order.dogovor_prim %}{{ order.dogovor_prim }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Примечание к договору</label>
                                    <textarea name="order[dogovor_prim]" id="auto-href" class="autosize" rows="2">{% if order.dogovor_prim %}{{ order.dogovor_prim }}{% endif %}</textarea>
                                </div>
                                <div class="col-md-12">
                                    <label>Видео</label>
                                    <div id="result-href"></div>
                                </div>
                            </div>


                            </section>

                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if order.id %}
                                <a class="inline" href="/api/delete/order/{{ order.id }}"><div class="red-button inline">Удалить</div> </a>
                            {% endif %}
                        </div>
                    </div>
            </form>
        </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>
{% endblock %}