{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    {% if client %}
                        <h1 class="inline project-name">Заявки клиента : {{ client.name }} </h1>
                    {% elseif company %}
                        <h1 class="inline project-name">Заявки компании : {{ company.name }} </h1>
                    {% elseif partner %}
                        <h1 class="inline project-name">Заявки партнера : {{ partner.name }} </h1>
                    {% elseif agent %}
                        <h1 class="inline project-name">Заявки Агента : {{ agent.name }} </h1>
                    {% elseif driver %}
                        <h1 class="inline project-name">Заявки водителя : {{ driver.name }} </h1>
                    {% else %}
                        <h1 class="inline project-name">Заявки </h1>
                    {% endif %}
                    <div class="inline"> <a href="/admin/order"> + новая заявка </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <form method="GET" action="/admin/orders">
                <div class="col-sm-2">
                    <div class="field">
                        <label>Статус </label><br>
                        <select id="status" name="filter[status]" class="form-login chosen-select" >
                            <option value=""  {% if order.status is empty  %} selected {% endif %} >Все статусы</option>
                            <option value="1" {% if filter.status == 1 %} selected {% endif %} >Входящие</option>
                            <option value="2" {% if filter.status == 2 %} selected {% endif %} >На заявку</option>
                            <option value="3" {% if filter.status == 3 %} selected {% endif %} >Перезвонить</option>
                            <option value="4" {% if filter.status == 4 %} selected {% endif %} >Выполнено</option>
                            <option value="5" {% if filter.status == 5 %} selected {% endif %} >Отмена</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="field">
                        <label>Вид техники </label><br>
                        <select name="filter[kind_transport]" class="form-login chosen-select" data-placeholder="Выбрать технику">
                            <option></option>
                            {% for kind in kinds_transport %}
                                <option value="{{ kind.id }}" {% if filter.kind_transport == kind.id %} selected {% endif %} >{{ kind.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="field">
                        <label>Начало: </label>
                        <input type="text" class="form-elem form-login datepicker" name="filter[date_start]" value="{{ filter.date_start }}">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="field">
                        <label>Конец: </label>
                        <input type="text" class="form-elem form-login datepicker" name="filter[date_end]" value="{{ filter.date_end }}">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="field">
                        <label>&nbsp; </label>
                        <button class="blue-button inline" type="submit">Фильтр</button>
                    </div>
                </div>

                    <div class="col-sm-2">
                        <div class="field height-60">
                            <label>&nbsp; </label>
                            <a class="inline" href="/admin/orders">Сброс</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            {#<th>Дата создания</th>#}
                            <th>Вид техники</th>
                            <th>Статус заявки</th>
                            <th>Дата заявки <a href="?sortby=date_order&sort=asc">↓</a></th>
                            <th>Вид работ</th>
                            <th>Место работ</th>
                            <th>Клиент</th>
                            <th>Ответственный</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr class="status-{{ order.status }}
{% if order.status == 4 %}

    {% if order.price_order1 > 0 and order.payed1 == 0 %} pink {% endif %}
    {% if order.price_order2 > 0 and order.payed2 == 0 %} pink {% endif %}
    {% if order.price_order3 > 0 and order.payed3 == 0 %} pink {% endif %}
    {% if order.price_order4 > 0 and order.payed4 == 0 %} pink {% endif %}
    {% if order.price_order5 > 0 and order.payed5 == 0 %} pink {% endif %}

    {% if order.beznal == 1 %}
        {% if order.dogovor != 'podpisan' or order.akt != 'podpisan' %}
            pink
        {% endif %}
    {% endif %}

{% endif %}

transport-owner-{{ order.transport_owner }}
                            ">
                                {#<td><a href="/admin/order/{{ order.id }}">{{ order.created_at|date("d/m/Y") }} </a></td>#}
                                <td>
                                    {% if order.agent_id != 0 %} <div class="icon-status">А</div> {% endif %}
                                    <a href="/admin/order/{{ order.id }}">{{ order.kind_transport.name|slice(0, 25) }} </a>
                                </td>

                                <td class="status"><a href="/admin/order/{{ order.id }}">
                                    {% if order.status == 1 %} Входящие {% endif %}
                                    {% if order.status == 2 %} На заявку {% endif %}
                                    {% if order.status == 3 %} Перезвонить {% endif %}
                                    {% if order.status == 4 %} Выполнено {% endif %}
                                    {% if order.status == 5 %} Отмена {% endif %}
                                    </a></td>

                                <td class="nowrap"><a {% if order.date_order == '0000-00-00 00:00:00' %} class="warning-red" {% endif %} href="/admin/order/{{ order.id }}">{{ order.date_order|date("d/m/Y - H:i")  }} </a></td>
                                <td><a href="/admin/order/{{ order.id }}">{{ order.detail_order|slice(0, 25) }} ... </a></td>
                                <td><a href="/admin/order/{{ order.id }}">{{ order.place_order|slice(0, 20) }} </a></td>

                                <td><a href="/admin/order/{{ order.id }}">
                                        {{ order.client.name|slice(0, 12) }}
                                        + {{ order.client_phone }} +
                                        {% if order.client.company.name != 'Частник' %} {{ order.client.company.name|slice(0, 10) }} {% endif %}

                                    </a>
                                    <i class="show-desc fa fa-eye" data-id="{{ order.id }}" aria-hidden="true"></i>

                                </td>

                                <td><a class="margin-10" href="/admin/order/{{ order.id }}">
                                    {% for user in users %}
                                        {% if user.id == order.owner_id %}  {{ user.last_name }}  {% endif %}
                                    {% endfor %} </a>
                                    <a class="margin-10" href="javascript:AlertIt({{ order.id }});"><i class="fa fa-files-o" aria-hidden="true"></i> </a>

                                    <div class="description description-{{ order.id }}">
                                        <ul>
                                            <li>{% if order.beznal == 1 %} БЕЗНАЛичный рассчет {% else %} Наличный рассчет {% endif %} \\ 
                                                {% if order.beznal == 1 %}
                                                    {% if order.company.dogovor == 'net' %} Договор НЕ ПОДПИСАН {% elseif order.company.dogovor == 'sostavlen' %} Договор только СКАН {% elseif order.company.dogovor == 'podpisan' %} Договор подписан {% endif %} /
                                                    {% if order.akt == 'net' %} Акт НЕ ПОДПИСАН {% elseif order.akt == 'sostavlen' %} Акт только СКАН {% elseif order.akt == 'podpisan' %} Акт подписан {% endif %}
                                                {% endif %}
                                            </li>
                                            <li>{% if order.transport_owner == 1 %} Наша техника {% elseif order.transport_owner == 2 %} Партнерская техника {% elseif order.transport_owner == 3 %} Совместная работа {% endif %} </li>
                                        </ul>
                                        <h5>Суммы заказа </h5>
                                        <ul>
                                            {% if order.price_order1 != 0 %}<li class="dopinfo">{{ order.kind_transport.name }}  <br>{{ order.price_order1 }} руб - {% if order.payed1 == 1 %} Оплата получена {% else %} Оплаты НЕТ {% endif %} <br> {{ drivers[order.driver_id1].name }}  </li>{% endif %}
                                            {% if order.price_order2 != 0 %}<li class="dopinfo">{{ order.kind_transport.name }}  <br> {{ order.price_order2 }} руб - {% if order.payed2 == 1 %} Оплата получена {% else %} Оплаты НЕТ {% endif %} <br> {{ drivers[order.driver_id2].name }}  </li>{% endif %}
                                            {% if order.price_order3 != 0 %}<li class="dopinfo">{{ order.kind_transport.name }}  <br> {{ order.price_order3 }} руб - {% if order.payed3 == 1 %} Оплата получена {% else %} Оплаты НЕТ {% endif %} <br> {{ partners[order.partner_id1].name }} <br> {{ order.summ_partner1 }} руб. {% if order.summ_partner_payed1 == 1 %} оплачено партнеру {% else %} НЕ оплачено партнеру {% endif %}</li>{% endif %}
                                            {% if order.price_order4 != 0 %}<li class="dopinfo">{{ order.kind_transport.name }}  <br> {{ order.price_order4 }} руб - {% if order.payed4 == 1 %} Оплата получена {% else %} Оплаты НЕТ {% endif %} <br> {{ partners[order.partner_id2].name }} <br> {{ order.summ_partner2 }} руб. {% if order.summ_partner_payed2 == 1 %} оплачено партнеру {% else %} НЕ оплачено партнеру {% endif %} </li>{% endif %}
                                            {% if order.price_order5 != 0 %}<li class="dopinfo">{{ order.kind_transport.name }}  <br> {{ order.price_order5 }} руб - {% if order.payed5 == 1 %} Оплата получена {% else %} Оплаты НЕТ {% endif %} <br> {{ partners[order.partner_id3].name }} <br> {{ order.summ_partner3 }} руб. {% if order.summ_partner_payed3 == 1 %} оплачено партнеру {% else %} НЕ оплачено партнеру {% endif %} </li>{% endif %}
                                        </ul>
                                        {% if order.agent %}
                                            <div>Агент: {{ order.agent.name }}</div>
                                            <div>
                                                Оплачено агенту: 
                                                {% if order.paid_to_agent == '1' %}Да{% endif %}
                                                {% if order.paid_to_agent == '0' %}Нет{% endif %}
                                            </div>
                                        {% endif %}
                                        {#<iframe width="800" scrolling="0" height="300" frameborder="0" allowtransparency="true" src="/admin/order/{{ order.id }}"></iframe>#}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}