{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Водители </h1>
                    <div class="inline"> <a href="/admin/driver"> + новый водитель </a></div>
                    <div class="inline"> <a href="/admin/drivers/trash"> Удаленные водители </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            <th>Должность</th>
                            <th>Телефон (корп)</th>
                            <th>Телефон (моб)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for driver in drivers %}
                            <tr>
                                <td><a href="/admin/driver/{{ driver.id }}">{{ driver.name }} </a></td>
                                <td>{{ driver.position  }} </td>
                                <td>{{ driver.phone_corp  }} </td>
                                <td>{{ driver.phone_mobile }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}