{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Водитель </h1>
                    <div class="inline"> <a href="/admin/drivers">все водители</a> </div>
                    {% if driver.id %}
                        <div class="inline padding-10"> <a href="/admin/orders/driver/{{ driver.id }}"> заявки этого водителя </a></div>
                    {% endif %}

                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if driver.id %}
                    action="/api/driver/{{ driver.id }}"
                    {% else %}
                    action="/api/driver"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-8">
                    <div class="form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>ФИО Водителя </label>
                                <input type="text" class="form-login" name="name" placeholder="ФИО Водителя" value="{{ driver.name }}" required>
                            </div>

                            <div class="col-md-6">
                                <label>Должность</label>
                                <input type="text" class="form-login" name="position" placeholder="Должность" value="{{ driver.position }}" required>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Корпоративный телефон </label>
                                <input type="text" class="form-login check-uniq mobile-phone" data-table="drivers" name="phone_corp" placeholder="Номер корпоративного телефона" value="{{ driver.phone_corp }}" required>
                            </div>

                            <div class="col-md-6">
                                <label>Мобильный телефон </label>
                                <input type="text" class="form-login mobile-phone" name="phone_mobile" placeholder="Номер мобильного телефона" value="{{ driver.phone_mobile }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Водительское удостоверение 1</label>
                                <input type="text" class="form-login" name="driver_license1" placeholder="Серия и номер " value="{{ driver.driver_license1 }}">
                            </div>
                            <div class="col-md-6">
                                <label>Водительское удостоверение 2</label>
                                <input type="text" class="form-login" name="driver_license2" placeholder="Серия и номер " value="{{ driver.driver_license2 }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>№ карты Сбербанка </label>
                                <input type="text" class="form-login" name="sbercard" placeholder="Впишите № карты" value="{{ driver.sbercard }}" />
                            </div>
                            <div class="col-md-6">
                                <label>Срок действия</label>
                                <input type="text" class="form-login" name="expired_sbercard" value="{{ driver.expired_sbercard }}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>На кого выписана</label>
                                <input type="text" class="form-login" name="cardholder" value="{{ driver.cardholder }}" />
                            </div>
                        </div>



                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if driver.id %}
                                <a class="inline" href="/api/delete/driver/{{ driver.id }}"><div class="red-button inline">Удалить</div> </a>
                            {% endif %}
                    </div>
                </div>

                <div class="col-md-4 form">
                    <label>Дата рождения</label>
                    <input type="text" class="form-login date" name="birthday" placeholder="Дата рождения" value="{{ driver.birthday }}" />

                    <label>Дополнительный телефон</label>
                    <input type="text" class="form-login mobile-phone" name="phone_dop" placeholder="Номер дополнительного телефона" value="{{ driver.phone_dop }}">

                    <div class="form">
                            <label>Дополнительная информация</label>
                            <textarea name="description" rows="8">{{ driver.description }}</textarea>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->




{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}