{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Агенты </h1>
                    <div class="inline"> <a href="/admin/agent"> + новый агент </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>Имя</th>
                            <th>Телефон (моб)</th>
                            <th>Телефон (доп)</th>
                            <th>Email</th>
                            <th>Компания</th>
                            <th>Должность</th>
                            <th>День рождения</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td><a href="/admin/agent/{{ agent.id }}">{{ agent.name }} </a></td>
                                <td>{{ agent.phone_mobile }} </td>
                                <td>{{ agent.phone_dop  }} </td>
                                <td>{{ agent.email }} </td>
                                {% for company in companies %}
                                    {% if company.id == agent.company_id %} <td> {{ company.name }} </td> {% endif %}
                                {% endfor %}
                                <td> {{ agent.job_title }} </td>
                                <td>{{ agent.birthday }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}