{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Агент </h1>
                    <div class="inline"> <a href="/admin/agents">все агенты</a> </div>
                    {% if agent.id %}
                        <div class="inline padding-10"> <a href="/admin/orders/agent/{{ agent.id }}">Заявки этого агента</a> </div>
                    {% endif %}
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if agent.id %}
                    action="/api/agent/{{ agent.id }}"
                    {% else %}
                    action="/api/agent"
                    {% endif %}
            >
            <div class="row">
                <div class="col-md-6">
                    <div class="form">
                            <label>ФИО Агента </label>
                            <input type="text" class="form-login" name="name" placeholder="ФИО Агента" value="{{ agent.name }}" required>
                            <label>Мобильный телефон </label>
                            <input type="text" class="form-login mobile-phone" name="phone_mobile" placeholder="Номер мобильного телефона" value="{{ agent.phone_mobile }}" required>
                            <label>Дополнительный телефон</label>
                            <input type="text" class="form-login mobile-phone" name="phone_dop" placeholder="Номер дополнительного телефона" value="{{ agent.phone_dop }}">
                            <label>Email </label>
                            <input type="text" class="form-login mail" name="email" placeholder="Электронная почта" value="{{ agent.email }}" />
                            <label>Компания</label>
                            <select name="company_id" class="form-login chosen-select" required aria-required="true" data-placeholder="Выбрать компанию">
                                <option></option>
                                {% for company in companies %}
                                    <option value="{{ company.id }}" {% if agent.company_id == company.id %} selected {% endif %} >{{ company.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Должность </label>
                            <input type="text" class="form-login" name="job_title" placeholder="Должность в компании" value="{{ agent.job_title }}" />

                            <div class="field">
                                <label>Заключен ли договор </label><br>
                                <input name="dogovor" {% if agent.dogovor == 1 %} checked="checked" {% endif %} type="radio" value="1" required/> Да
                                <input name="dogovor" {% if agent.dogovor == 0 %} checked="checked" {% endif %} type="radio" value="0" required/> Нет
                            </div>

                            <label>№ карты Сбербанка </label>
                            <input type="text" class="form-login" name="sbercard" placeholder="Впишите № карты" value="{{ agent.sbercard }}" />
                            <label>Срок действия</label>
                            <input type="text" class="form-login" name="expired_sbercard" value="{{ agent.expired_sbercard }}" />
                            <label>На кого выписана</label>
                            <input type="text" class="form-login" name="cardholder" value="{{ agent.cardholder }}" />

                        <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if agent.id %}
                                <a class="inline" href="/api/delete/agent/{{ agent.id }}"><div class="red-button inline">Удалить</div> </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 form">
                    <label>Дата рождения</label>
                    <input type="text" class="form-login date" name="birthday" placeholder="Дата рождения" value="{{ agent.birthday }}" />
                    <div class="form">
                            <label>Дополнительная информация</label>
                            <textarea name="description" rows="8">{{ agent.description }}</textarea>
                    </div>

                </div>
            </form>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->




{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}