{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Виды техники </h1>
                    <div class="inline"> <a href="/admin/settings"> Назад ко всем настройкам </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    {% if transport.id %}
                    <form method="post" action="/api/settings-{{model}}/{{ transport.id }}" class="form">
                        <label>Редактировать вид техники </label>
                    {% else %}
                    <form method="post" action="/api/settings-{{model}}" class="form">
                        <label>Новый вид техники </label>
                    {% endif %}
                        <input type="text" class="form-login" name="name" placeholder="Вид техники" value="{{ transport.name }}">

                        <label>% зарплаты </label>
                        <input type="text" class="form-login" name="percent_zp" placeholder="% зарплаты" value="{{ transport.percent_zp }}">

                        <button class="blue-button inline" type="submit">
                            {% if transport %}
                                Сохранить
                            {% else %}
                                Добавить
                            {% endif %}
                            </button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Список </h4>
                    <table class="table">
                        {% for transport in transports %}
                            <tr>
                            	<td> {{ transport.id }} </td>
                            	<td> {{ transport.name }} </td>
                            	<td> {{ transport.percent_zp }} % </td>
                            	<td> <a href="/admin/settings/{{model}}/{{ transport.id }}"> Редактировать </a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}