{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Настройки </h1>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="settings-el"> <a href="/admin/settings/transport">Виды техники </a> </div>
                    <div class="settings-el"> <a href="/admin/settings/transport_repair">Наша техника</a> </div>
                    <div class="settings-el"> <a data-url="/api/clients/export_csv" class="import-csv">Экспорт клиентов в CSV</a> </div>
                    <div class="settings-el"> <a data-url="/api/transport/export_csv" class="import-csv">Экспорт спецтехники в CSV</a> </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(function() {
			$('.import-csv').click(function() {
			    var element = $(this);
				$.ajax({
					url: $(this).attr('data-url'),
					type: 'GET',
					success: function(data) {
						$('a.download-csv').remove();
						$(data).insertAfter(element);
					}
				});
			});

		});
	</script>

    <script src="/views/admin/admin.js"></script>        
{% endblock %}