<div id="{{ id }}" class="project_card">
    <div class="name">{{ name }}</div>
    <div class="description">{{ description }} </div>
    <a class="link" href="/project/{{ project.id }}"> </a>
    <div class="card_footer"> <a>Изменить </a> </div>
</div>