<div class="task" id="{{ id }}">
    <div class="drag"> </div>
    <div class="title">{{ name }} </div>
    {#<div class="executor"> Миша Серяк </div>#}
    {#<div class="status">Запланирована </div>#}
    {#<div class="date">Создана: {{ date|date("d-m-Y") }} </div>#}
</div>