{% extends "layout.html.twig" %}

{% block content %}
        {% if not session.user.role.permissions.subreports_update and subreport.id %}
            {% set readonly = 'disabled' %}
            <style type="text/css">
                input:disabled, select:disabled, .chosen-single span {
                    color: #333333 !important;
                }

                a.chosen-single div {
                    display: none !important;
                }

                .chosen-disabled {
                    opacity: 1 !important;
                }
            </style>
        {% endif %}

        <style type="text/css">
            .part-name {
                padding-right: 18px !important;
            }

            .alert-row {
                position: absolute;
                top: 15px;
                z-index: 9999;
                right: 12px;
                color: #FF2400;
                font-size: 20px;
                cursor: pointer;"
            }
        </style>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Сдача подотчета</h1>
                <div class="inline"> <a href="/admin/subreports">все подотчеты</a> </div>
                <hr class="aky">
            </div>
        </div>

        <form @submit.prevent id="subreport-form">
            <div class="row">
                <div class="col-md-12">
                    

                    <div id="crmx-subreport" class="form">
                        <div class="row">
                            
                            <div class="row">
                                
                                <div class="row flex">
                                    <div class="col-md-6 print-select">
                                        <label>ФИО Сотрудника</label>
                                        <select id="drivers-select" v-model="subreport.drivers_id" class="form-elem form-login chosen-select" data-placeholder="Выберите сотрудника" required {{readonly}}>
                                            <option value=""></option>
                                            <option v-for="driver in drivers" :value="driver.id">${driver.name}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 print-date">
                                        <label>Дата получения подотчета </label>
                                        <input :value="subreport.date_in|date" type="text" class="form-elem form-login date_in datepicker" required {{readonly}}>
                                    </div>

                                    <div class="col-md-3 print-date">
                                        <label>Дата сдачи подотчета </label>
                                        <input :value="subreport.date_out|date" type="text" class="form-elem form-login date_out datepicker" required {{readonly}}>
                                    </div>
                                </div>

                                <div class="col-md-6 print-input">
                                    <label>Сумма подотчета</label>
                                    <input v-model="subreport.inner_summ" type="text" class="form-elem form-login num-only double" placeholder="Сумма, руб" style="width: 120px;" required {{readonly}}>
                                </div>
                            </div>

                            {% if not readonly %}
                            <div class="col-md-6">
                                <a href="/admin/part" class="btn blue-button inline">Добавить запчасть</a>
                            </div>
                            {% endif %}
                        </div>

                        <table id="subreport-table" class="table clients table-striped" style="margin-top: 25px;">
                           
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Название запчасти/расходника</th>
                                    <th style="max-width: 100px;">Цена, руб.</th>
                                    <th style="max-width: 110px;">Кол-во</th>
                                    <th>Ед. изм</th>
                                    <th>Сумма</th>
                                    <th class="no-print">Где покупалось</th>
                                    {% if not readonly %}
                                    <th class="opt-th no-print" style="width: 70px;">
                                        <button  @click="insertPart()" type="button" class="blue-button inline add-part" style="min-width: 70px;">Добавить</button>
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(part, index) in subreport.movement">
                                    <td class="part-num">${index+1}</td>

                                    <td class="part-title" style="max-width: 400px;">
                                        <select is="chosen-parts" :parts="parts" 
                                                :selected.sync="part.part.id" 
                                                :disabled_parts="getDisabledParts"
                                                required
                                                {{readonly}}></select>
                                    </td>
                                    
                                    <td>
                                        <input v-model="part.price" type="text" 
                                               class="form-login num-only double"
                                               style="margin-bottom: 0px; min-width: 85px;" required {{readonly}}>
                                    </td>

                                    <td style="width: 110px;">
                                        <input v-model="part.count" type="text" 
                                               class="form-login num-only double" 
                                               style="margin-bottom: 0px; min-width: 80px;" 
                                               required {{readonly}}>
                                    </td>

                                    <td class="part-unit" style="width: 60px;">${part.part.unit}</td>

                                    <td style="width: 60px;">${toDouble(part.count * part.price)}</td>

                                    <td class="part-store no-print">
                                        <input v-model="part.description" type="text" class="form-login" style="margin-bottom: 0px; min-width: 200px!important;" required {{readonly}}>
                                    </td>
                                    
                                    {% if not readonly %}
                                        <td class="remove-row no-print" style="width: 80px; text-align: center;">
                                            <a @click="removePart(part)" class="remove-row-part" title="Удалить">
                                                <i class="fa fa-2x fa-times" aria-hidden="true" style="color: red;"></i>
                                            </a>
                                        </td>
                                    {% endif %}

                                </tr>

                            </tbody>
                            {% if not readonly %}
                            <tfoot class="no-print">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="no-print"></td>
                                    <td class="opt-th">
                                        <button @click="insertPart()" type="button" class="blue-button inline" style="min-width: 70px;">Добавить</button>
                                    </td>
                                </tr>
                            </tfoot>
                            {% endif %}

                        </table>

                        <div class="row">
                            <div class="col-md-3 print-input">
                                <label>ИТОГО</label>
                                <input v-model="getTotal" type="text" class="form-elem form-login num-only double" name="total" placeholder="Сумма, руб" readonly required style="float: right;" {{readonly}}>
                            </div>

                            <div class="col-md-3 print-input">
                                <label>Остаток от подотчета, руб</label>
                                <input v-model="getBalance" type="text" class="form-elem form-login num-only double" placeholder="Остаток, руб" readonly required style="float: right;" {{readonly}}>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-8">
                                <label>Примечание (необязательное)</label>
                                <textarea v-model="subreport.notify" class="form-elem form-login" {{readonly}} placeholder="Прочая информация">${subreport.notify}</textarea>
                            </div>
                        </div>

                        <div class="row table-mark" style="margin-top: 25px; display: none;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="width: 270px; text-align: right; border: none !important;">
                                            Подпись сотрудника в сдаче подотчета
                                        </td>

                                        <td style="width: calc(100% - 270px); border-left: none !important; border-right: none!important;">
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="border: none !important;">
                                            <div style="height: 0.2cm;"></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 270px; text-align: right; border: none !important;">
                                            Подпись кассира в получении подотчета
                                        </td>

                                        <td style="width: calc(100% - 270px); border-left: none !important; border-right: none!important;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        {% if subreport.id %}
                        <button id="send_and_print" onclick="print()" class="blue-button inline" type="button">Печать</button>
                        {% endif %}
                        
                        {% if not readonly %}
                        <button @click="send" class="blue-button inline" type="button">Провести</button>
                        {% endif %}

                        {% if session.user.role.permissions.subreports_delete and subreport.id %}
                            <button @click="deleteSubreport({{subreport.id}})" class="red-button inline delete-button" type="button">Удалить</button>
                        {% endif %}

                        <div id="drivers-data" data-initialize="{{drivers}}" style="display: none;"></div>
                        <div id="subreport-data" data-initialize="{{subreport|json_encode()}}" style="display: none;"></div>
                        <div id="parts-data" data-initialize="{{parts}}" style="display: none;"></div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="/views/slate/vue/chosen-parts.vue.js"></script>
<script src="/views/admin/admin.js"></script>
<script type="text/javascript">
    Vue.filter('date', function(date = null, delimeter = '.') {
        if (date) {
            var d = new Date(date);
            return ("0" + d.getDate()).slice(-2) + delimeter + ("0" + (d.getMonth() + 1)).slice(-2) + delimeter + d.getFullYear();            
        }
    });

    var app = new Vue({
        el: "#crmx-subreport",
        delimiters: ['${', '}'],
        data: {
            drivers: null,
            subreport: null
        },
        methods: {
            insertPart: function() {
                this.subreport.movement.push({
                    "entity_id": this.subreport.id,
                    "description": null,
                    "count": null,
                    "price": null,
                    "part": {
                        "id": null,
                    }
                });               
            },
            removePart: function(part) {
                var p = JSON.parse(JSON.stringify(part));
                var index = this.subreport.movement.indexOf(part);
                if (index > -1) this.subreport.movement.splice(index, 1);
                this.partExist(p);
            },
            
            toDouble: function(num = '0.00') {
                var val = num.toString().split('.');   
                if (val.length < 2) {
                    val.push('00');
                } else {
                    val[1] = (val[1] + '00').substring(0, 2);
                }
                val = val.join('.');
                return val;
            },

            partExist: function(movement) {
                var check = false;

                this.subreport.movement.forEach(m => {
                    if (m.part.id && movement.part.id == m.part.id) {
                        m.part.exist = check; 
                        check = true;
                    }
                });
            },

            send: function() {
                var vm = this;

                if ($('#subreport-form')[0].checkValidity()) {
                    $.ajax({
                        url: '/api/subreport/create',
                        type: 'POST',
                        data: vm.subreport,
                        success: function() {
                            window.location = '/admin/subreports';
                        },
                        error: function(resp) {
                            console.log(resp.responseText);
                            alert('Произошла ошибка. Проверьте консоль');
                        }  
                    });
                } else {
                    alert('Заполните все поля');
                }
            },

            deleteSubreport: function(id) {
                if (confirm('Удалить подотчет?')) {

                    var vm = this;
                    $.ajax({
                        url: '/api/subreport/delete',
                        type: 'POST',
                        data: {id: id},
                        success: function() {
                            window.location.replace("/admin/subreports");
                        },
                        error: function(resp) {
                            console.log(resp.responseText);
                            alert('Произошла ошибка. Проверьте консоль');
                        }  
                    });   
                }
            },

            choseDriver: function() {
                this.subreport.drivers_id = $("#drivers-select").chosen().val();
            }
        },

        computed: {
            getDisabledParts: function() {
                var disabled = [];
                this.subreport.movement.forEach(function(el) {
                    if (el.part.id) {
                        disabled.push(Number(el.part.id));
                    }
                });
                return disabled;
            },

            getTotal: function() {
                this.subreport.total = 0;
                this.subreport.movement.forEach((part) => {
                    if(part.part.id && !part.part.exist) this.subreport.total += part.price * part.count;
                });
                this.subreport.total = this.toDouble(this.subreport.total);
                return this.subreport.total;
            },
            getBalance: function() {
                this.subreport.balance = this.subreport.inner_summ - this.subreport.total;
                this.subreport.balance = this.toDouble(this.subreport.balance);
                return this.subreport.balance;
            }
        },
        created: function() {
            var drivers = document.querySelector('#drivers-data').dataset.initialize;
            var subreport = document.querySelector('#subreport-data').dataset.initialize;
            var parts = document.querySelector('#parts-data').dataset.initialize;

            this.parts = parts ? JSON.parse(parts) : [];
            this.drivers = drivers ? JSON.parse(drivers) : [];

            if (subreport && subreport != 'null') {
                this.subreport = JSON.parse(subreport);
            } else {
                this.subreport = {drivers_id: null, notify: null, inner_summ: 0, total: 0, balance: 0, movement: []};
            }

            if (this.subreport.movement.length <= 0) {
                this.insertPart();
            }

            // document.getElementById('drivers-data').remove();
            // document.getElementById('subreport-data').remove();

            var vm = this;
            $(function() {
                $("#drivers-select").chosen().change(function(e) {
                    vm.subreport.drivers_id = e.target.value;
                });

                $('.date_in').datepicker({dateFormat: 'dd.mm.yy', onSelect: date => vm.subreport.date_in = getFormatedDate(date)});
                $('.date_out').datepicker({dateFormat: 'dd.mm.yy', onSelect: date => vm.subreport.date_out = getFormatedDate(date)});

                function getFormatedDate(date) {
                    date = date.split('.');
                    let year = date[2];
                    date[2] = date[0];
                    date[0] = year;
                    return date.join('-');
                }
            });
        }
    });

</script>

{% endblock %}