{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Подотчеты </h1>
                    <div class="inline"> <a href="/admin/subreport"> + новый подотчет </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table peoples table-striped">
                        <thead>
                        <tr>
                            {#<th>id</th>#}
                            <th>
                                <a href="?sortby=date_in&sort=desc">↓</a>
                                Дата получения
                                <a href="?sortby=date_in&sort=asc">↑</a>
                            </th>
                            <th>
                                <a href="?sortby=date_out&sort=desc">↓</a>
                                Дата сдачи
                                <a href="?sortby=date_out&sort=asc">↑</a>
                            </th>
                            <th>Сумма, руб</th>
                            <th>Итог, руб</th>
                            <th>Остаток, руб</th>
                            <th>Сотрудник</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr class="">
                                <td><a href="/admin/subreport/{{report.id}}">{{ report.date_in|date("d/m/Y") }}</a></td>
                                <td><a href="/admin/subreport/{{report.id}}">{{ report.date_out|date("d/m/Y") }}</a></td>

                                <td class="status"><a href="/admin/subreport/{{report.id}}">{{ report.inner_summ }}</a></td>

                                <td><a href="/admin/subreport/{{report.id}}">{{ report.total }}</a></td>
                                <td><a href="/admin/subreport/{{report.id}}">{{ report.balance }}</a></td>
                                <td><a href="/admin/subreport/{{report.id}}">{{ report.employer.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>        
{% endblock %}